/* Réglages généraux */
html {
    font-size: 90%;
    font-family: "Helvetica Neue",Helvetica,Arial,Calibri,"Everson Mono","Times New Roman",serif,sans-serif;
    /* "Helvetica Neue",Helvetica,Arial,Calibri,"Everson Mono","Times New Roman",serif,sans-serif;
    Calibri,"Everson Mono","Times New Roman",serif;
    */
}
* {
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 2.2rem;
}

h2
{
    font-size: 1.9rem;
}

h3
{
    font-size: 1.7rem;
}

h4
{
    font-size: 1.5rem;
    padding-top: 16px;
    padding-top: 12px;
}

h5
{
    font-size: 1.3rem;
    padding-top: 8px;
    padding-top: 6px;
}

h6
{
    font-size: 1.2rem;
    padding-top: 8px;
    padding-top: 6px;
}

p
{
    font-size: 1.2rem;
    line-height: 1.5rem;
    /*text-indent: 16px;*/
    margin: 20px 0 20px 0;
}



blockquote p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 50px 0 50px 0;
    font-style: italic;
}

#reponse  {
    font-size: 1.2rem;
    line-height: 1.5rem;
}
/* réglage de l'apparence des liens html */
a {
    font-size: 1.0em;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    text-decoration: underline;
}
/* visited link */
a:visited {
    color: darkorchid;
}
/* selected link */
a:active {
    color: darkblue;
}
/* unvisited link */
a:link {
    text-decoration: underline;
}

/* unvisited link */
#menunavigation a:link {
    text-decoration: none;
    text-align: left;
}

ul {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

#listeResponsabilite {
    list-style-type: none;
    font-size: 1.2em;
}

li {
    margin-left:30px;
}


#bandeauheader h1 {
    text-align: center;
    text-shadow: 3px 2px lightgrey;

}
.navbar-nav {
    /*  margin-left: 190px;
    margin: 5px 0 0 5px;
    */
}

p {
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
   /* text-indent: 15px;*/
}

/*.hover_img a { position:relative; }*/
.hover_img a span { position:absolute; display:none; margin-left: 40px; z-index: 5;  }
.hover_img a:hover span { display:block; }
.hover_img img {object-fit: fill;  }

.affix {
    top:0;
    left:0;
    right:0;
}

.padded {
    padding-top:225px;
}

/* rendre scrollable une cellule*/
div.scrollable {
    width: 100%;
    max-height: 60px;
    margin: 0;
    padding: 0;
    overflow: auto;
}

div.height-20vh{
    height: 20vh;
}

/* mettre en noir les flèches d'ordonnancement de Datatable*/

#tableDesMatieres thead .sorting_asc {
    background-image: url("../images/_imagesutiles/sort_asc.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px;
    padding-left: 20px;

}
#tableDesMatieres thead .sorting_desc {
    background-image: url("../images/_imagesutiles/sort_desc.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px;
    padding-left: 20px;
}
#tableDesMatieres .sorting {
    background-image: url("../images/_imagesutiles/sort_both.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px;
    padding-left: 20px;
}

