/* Réglages généraux */
html {
    font-size: 90%;
    font-family: "Helvetica Neue",Helvetica,Arial,Calibri,"Everson Mono","Times New Roman",serif,sans-serif;
    /* "Helvetica Neue",Helvetica,Arial,Calibri,"Everson Mono","Times New Roman",serif,sans-serif;
    Calibri,"Everson Mono","Times New Roman",serif;
    */
}
body {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 2.2rem;
}

h2
{
    font-size: 1.9rem;
}

h3
{
    font-size: 1.7rem;
}

h4
{
    font-size: 1.5rem;
    padding-top: 16px;
    padding-top: 12px;
}

h5
{
    font-size: 1.3rem;
    padding-top: 8px;
    padding-top: 6px;
}

p
{
    font-size: 1.2rem;
    line-height: 1.5rem;
    /*text-indent: 16px;*/
    margin: 20px 0 20px 0;
}

ul {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

blockquote p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 50px 0 50px 0;
    font-style: italic;
}

/* réglage de l'apparence des liens html */
a {
    font-size: 1.0em;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: underline;
}

/* visited link */
a:visited {
    color: darkorchid;
}

/* selected link */
a:active {
    color: darkblue;
}

/* unvisited link */
a:link {
    text-decoration: underline;
}

/* unvisited link */
#menunavigation a:link {
    text-decoration: none;
    text-align: left;
}

.red > a {
    color: red;
    text-decoration: none;
}

li {
    margin-left:30px;
}

#bandeauheader h1 {
    text-align: center;
    text-shadow: 3px 2px lightgrey;
}

p {
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    /* text-indent: 15px;*/
}



#contenugauche {
    margin-bottom: 10px;
    /*max-height: 680px;*/
    min-height: inherit;
}

#contenucentral {

    white-space: nowrap;
   /* max-height: 60%; break-word

    overflow:auto;
    overflow-x: auto;
    margin-bottom: 10px;
    overflow-x: scroll;
    overflow-y: auto;
    height: 80px;
    white-space:nowrap;*/
}
#contenucentral li > a {
    color: #444;
    text-decoration: none;

}
#contenudroite li > a {
    color: #444;
    text-decoration: none;
    margin-bottom: 10px;

}

#contenudroite {
    overflow:auto;
}

.header {
    height: 8vh;
}
.menunavigation {
    height: 5vh;
}

.decalo {
    position: relative;
    margin-outside: 15px;
    white-space: nowrap;
}

.main {
    height: 74vh;
}

.footer {
    height: 5vh;
}

