{% extends 'tmao/basetmao.html.twig' %}
{% block title %}Page d'erreur du TMAO{% endblock %}
{% block menunavigation  %}
    {{  include("tmao/navigationtmao.html.twig", {index_menu:5}) }}
{% endblock %}
{% block contenu %}
    <h1>Oops! Une erreur s'est produite</h1>

    <h2>Le serveur retourne : "{{ status_code }} {{ status_text }}".</h2>
   <p>Votre requête a généré une erreur, veuillez revenir en arriere et tenter de la reformuler. Elle contient certainement une erreur.</p>
    <br><br><br>

{% endblock %}