{% trans_default_domain 'FOSUserBundle' %}
<style>
    /****** SHOW ******/
    .show-container {
        padding: 30px;
        max-width: 350px;
        width: 100% !important;
        background-color: #F7F7F7;
        margin: 100px auto;
        border-radius: 2px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }
    .show-container h1 {
        text-align: center;
        font-size: 1.8em;
    }
    .show-container input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
    }
    .show-container input[type=text], input[type=password], input[type=email] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .show-container input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }

    .show-container a {
        text-decoration: none;
        color: #666;
        font-weight: 400;
        text-align: center;
        display: inline-block;
        opacity: 0.6;
        transition: opacity ease 0.5s;
    }

    .show_container button {
        margin: 10px;
    }
</style>

<div class="show-container">
<h1>Mon profil TMAO</h1>
    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
    <div>
        <button type="button" class="btn btn-primary btn-md"  onClick="location.href = '{{ url('fos_user_profile_edit') }}';">Éditer</button>
        <br>
        <button type="button" class="btn btn-primary btn-md"  onClick="location.href = '{{ url('fos_user_change_password') }}';">Changer le mot de passe</button>
        <br>
{% if app.user.username == "yael.champclaux" or app.user.username == "dominique.billy" %}
        <button type="button" class="btn btn-warning btn-md"  onClick="location.href = '{{ url('fos_user_registration_register') }}';">Ajouter un utilisateur</button>
{% endif %}
    </div>
</div>

