{% extends 'tmao/basetmao.html.twig' %}
{% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon ChartPrb.png') }}" >
{% endblock %}
{% block title %}Charte de Brunel{% endblock %}
{% block bandeauheader %}
    <h1>Charte de Brunel<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("chartesbrunel/navigationcb.html.twig", {index_menu:3}) }}
{% endblock %}
{% block contenu %}

    {{ sortie | raw }}
    <script>
        // Ajouter un padding quand le header est affixé
        $('#charteHeader').on("affix.bs.affix", function() {
            $("#contenuDeLaCharte").addClass("padded");
        });

        // Supprimer un padding quand le header n'est plus affixé
        $('#charteHeader').on("affix-top.bs.affix", function() {
            $("#contenuDeLaCharte").removeClass("padded");
        });
    </script>
    <br>
    <p>Accéder au <a href="{{ url('teiHeaderChartesBrunel') }}"><i>header</i> tei</a> des chartes de Brunel, accéder à la <a href="{{ url('listechartes') }}">liste</a> des chartes de Brunel, retourner au <a href="{{ url('accueiltmao') }}">Trésor Manuscrit Ancien Occitan</a> (TMAO).</p>
{% endblock %}

