{% extends 'tmao/basetmao.html.twig' %}
{% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon ChartPrb.png') }}" >
{% endblock %}
{% block title %}Charte info{% endblock %}
{% block bandeauheader %}
    <h1>Charte info de Brunel</h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("chartesbrunel/navigationcb.html.twig", {index_menu:3}) }}
{% endblock %}

    {% block contenu %}

        {{ sortie | raw }}
        <br>
        <p>Accéder au <a href="{{ url('teiHeaderChartesBrunel') }}"><i>header</i> tei</a> des chartes de Brunel, accéder à la <a href="{{ url('listechartes') }}">liste</a> des chartes de Brunel, retourner au <a href="{{ url('accueiltmao') }}">Trésor Manuscrit Ancien Occitan</a> (TMAO).</p>
    {% endblock %}