{% extends 'tmao/basetmao.html.twig' %}
{% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon ChartPrb.png') }}" >
{% endblock %}
{% block title %}Page d'accueil des chartes de Brunel{% endblock %}
{% block bandeauheader %}
    <h1>Les chartes de Brunel<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("chartesbrunel/navigationcb.html.twig", {index_menu:1}) }}
{% endblock %}
{% block contenu %}

    <p>Édition des plus anciens textes diplomatiques antérieurs au XIIIe siècle (1201), rédigés en langue occitane, éventuellement dotés de formes ou de formules latines, ou de textes latins comportant un nombre de formes occitanes considérées par l’auteur suffisantes pour être pris en compte, à moins de permettre de documenter une région peu représentée. Seuls des originaux ont été retenus. L’ouvrage comporte une étude morphologique des chartes, mais pas d’étude phonétique,  un index de tous les noms propres, basé sur les chaînes onomastiques que nous n’avons pas encodées, ainsi qu’un glossaire conséquent à défaut d’être complet.</p>
    <p>La nature des actes est variée : abandons, accords divers, attestations diverses, cautions, confirmations d’actes, donations, impignorations, legs, mémoires, notices, reconnaissances, saisines, témoignages, ventes… </p>
    <p>Ce volume contient 349 pièces. Un complément de 166 pièces a été publié par Brunel en 1852 (<b>ChartPrB2)</b>.</p>
    <br><br>
    <p>Accéder au <a href="{{ url('teiHeaderChartesBrunel') }}">Header tei</a> des chartes de Brunel.</p>
    <p>Accéder à la <a href="{{ url('listechartes') }}">liste</a> des chartes de Brunel.</p>
    <p>Retourner au <a href="{{ url('accueiltmao') }}">Trésor Manuscrit Ancien Occitan</a> (TMAO).</p>
<br><br><br><br>

{% endblock %}