{% extends 'tmao/basetmao.html.twig' %}
{% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon ChartPrb.png') }}" >
{% endblock %}
{% block meta %}
    <meta name="description" content="Offre l'accès aux Chartes de Brunel" />
    <meta name="keywords" content="chartes de Brunel, Brunel, chartes, charte" />
{% endblock %}
{% block title %}Liste des chartes de Brunel{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}">
{% endblock %}
{% block bandeauheader %}
    <h1>Les chartes de Brunel<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("chartesbrunel/navigationcb.html.twig", {index_menu:3}) }}
{% endblock %}
    {% block contenu %}
        <table id="tableDesMatieres" class="table">
            <thead>
            <tr>
                <th>n°</th>
                <th>Charte</th>
                <th>Date</th>
                <th>Lieu</th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..tdm|length %}
                <tr>
                    <td>{{ tdm[i-1]['num'] }}</td>
                    <td><a  href="{{ path('charte', {num:i}) }}">  ChartPrb.{{ i }}</a></td>
                    <td>{{ tdm[i-1]['date'] }}</td>
                    <td>{{ tdm[i-1]['lieu'] }}</td>
                </tr>
            {% endfor %}
        </table>
        <br>

        <p>Retourner à <a href="{{ url('accueilChartesBrunel') }}">l'accueil</a> des chartes de Brunel, accéder au <a href="{{ url('teiHeaderChartesBrunel') }}"><i>header</i> tei</a> des chartes de Brunel, retourner au <a href="{{ url('accueiltmao') }}">Trésor Manuscrit Ancien Occitan</a>.</p>


        <script>

            $(document).ready( function () {

                $('#tableDesMatieres').DataTable(
                        {
                            stateSave: true,
                            "language": {
                                "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/French.json"
                            }
                        }
                )
            }   );

        </script>

    {% endblock %}

{% block javascripts %}
    <script type="text/javascript" src={{ asset('assets/vendor/datatables.net/js/jquery.dataTables.min.js') }}></script>
    <script type="text/javascript" src={{ asset('assets/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}></script>
{% endblock %}