<div id="menunavigation"  class="row">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url('accueiltmao') }}" title="Accueil TMAO">TMAO</a>
                <a class="navbar-brand" href="{{ url('accueilChartesBrunel') }}" title="Accueil chartes Brunel">Chartes de Brunel</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav  text-md-center justify-content-md-between">
                    <li {{ index_menu == 1 ? 'class="active"' }}><a href="{{ url('accueilChartesBrunel') }}">Accueil</a></li>
                    <li {{ index_menu == 2 ? 'class="active"' }}><a href="{{ url('teiHeaderChartesBrunel') }}" title="TEI Header des chartes de Brunel">En-tête</a></li>
                    <li {{ index_menu == 3 ? 'class="active"' }}><a href="{{ url('listechartes') }}" title="Index des chartes de Brunel">Les Chartes</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </nav>
</div>