{% extends 'tmao/basetmao.html.twig' %}
{% block title %}En-tête TEI des chartes de Brunel{% endblock %}
{% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon ChartPrb.png') }}" >
{% endblock %}
{% block bandeauheader %}
    <h1>Les chartes de Brunel<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("chartesbrunel/navigationcb.html.twig", {index_menu:2}) }}
{% endblock %}
{% block contenudroite  %}{% endblock %}
    {% block contenu %}

        {{ sortie | raw }}

        <br>
        <p>Retourner à <a href="{{ url('accueilChartesBrunel') }}">l'accueil</a> des chartes de Brunel, accéder à la <a href="{{ url('listechartes') }}">liste</a> des chartes de Brunel, retourner au <a href="{{ url('accueiltmao') }}">Trésor Manuscrit Ancien Occitan</a> (TMAO).</p>
    {% endblock %}

    {% block contenugauche  %}{% endblock %}