#midiPlayer_div{width:700px;height:36px;background:#888;}
#midiPlayer_bar{height:12px;width:500px;background:#ccc;cursor:pointer;display:inline-block;}
#midiPlayer_progress{margin:0;background:#555;width:0;height:100%;}
#midiPlayer_playingTime{width:45px;margin:8px;font-size:16px;text-align:right;font-family:arial;display:inline-block;}
#midiPlayer_totalTime{width:40px;text-align:right;margin:8px;font-size:16px;font-family:arial;display:inline-block;}
#midiPlayer_div a.icon{margin:3px;cursor:pointer;background-color:#eee;border:2px solid #ccc;display:inline-block;position:relative;vertical-align:top;display: none;}
#midiPlayer_div a.icon:after,
#midiPlayer_div a.icon:before{background:#eee;border:2px solid #ccc;content:'';position:absolute;}
#midiPlayer_div a.icon:hover,
#midiPlayer_div a.icon:hover:after,
#midiPlayer_div a.icon:hover:before{background-color:#fff;}
#midiPlayer_div a.stop{border-radius:100%;height:26px;width:26px;}
#midiPlayer_div a.stop:after{background:#ccc;height:9px;left:7px;top:7px;width:8px;}
#midiPlayer_div a.stop:hover:after{background:#ccc;}
#midiPlayer_div a.stop:before{border:none;}
#midiPlayer_div a.pause{border-radius:100%;height:26px;width:26px;}
#midiPlayer_div a.pause:after,
#midiPlayer_div a.pause:before{height:10px;top:6px;width:0;}
#midiPlayer_div a.pause:after{left:7px;}
#midiPlayer_div a.pause:before{left:15px;}
#midiPlayer_div a.play{border-radius:100%;height:26px;width:26px;}
#midiPlayer_div a.play:after,
#midiPlayer_div a.play:before,
#midiPlayer_div a.play:hover:after,
#midiPlayer_div a.play:hover:before{background:none;}
#midiPlayer_div a.play:after{border-bottom:8px solid transparent;border-left:13px solid #ccc;border-right:13px solid transparent;border-top:8px solid transparent;height:0;left:8px;top:5px;width:0;}
#midiPlayer_div a.play:before{border:none;}