{% block doctype %}
<!DOCTYPE html>
{% endblock %}
<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Yaël Champclaux">
    {% block meta '' %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/basetmao.css') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/basetmao.css') }}">
    {% endblock %}
    <script type="text/javascript" src={{ asset('assets/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}></script>
    {% block javascript '' %}

    <link rel="icon" type="image/x-icon" href="{{ asset('r_favicon_lettre_r.png') }}" />
    <title>{% block title %}Le Chansonnier R{% endblock %}</title>
</head>
<body>
    <!-- le bandeau header -->
    <header class="header affix-top"  data-offset-top="90">
        <div class="container">
            <div id="bandeauheader" class="row">
                {% block bandeauheader %}
                    <h1>Le chansonnier R<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>
                {% endblock %}
            </div>
        </div>
    </header>

    {% block menunavigation  %}
        {{  include("chansonnierr/navigationr.html.twig", {index_menu:1}) }}
    {% endblock %}

    <div id="bandecentrale" class=" row">
        <div class="container-fluid">
                <!-- le contenu gauche -->
                <div id="contenugauche" class="main panel panel-default col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    {% block contenugauche '' %}
                </div>
                <!-- le contenu central -->
                <div id="contenucentral" class="main panel panel-default col-lg-5 col-md-5 col-sm-6 col-xs-12" style="overflow:scroll">
                    {% block contenu '' %}
                </div>
                <!-- le contenu droite -->
                <div id="contenudroite" class="main panel panel-default col-lg-3 col-md-3 col-sm-6 col-xs-12" style="overflow:scroll">
                    {% block contenudroite '' %}
                </div>
        </div>
    </div>


    <!-- le bandeau footer pied de page -->
    <footer id="footer" class="footer navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="pull-left">
                    © 2017 <a href="http://www.cnrs.fr/">CNRS</a> / <a href="http://www.univ-tlse2.fr">Université Toulouse Jean Jaurès</a>
                </div>
                {% block footer '' %}
                <div id="footer-liens" class="pull-right">
                    <a href="{{ url('mentionslegales') }}">mentions légales</a>
                </div>
            </div>
        </div>
    </footer>

    {% block javascripts '' %}
</body>
</html>
