{% extends 'chansonnierr/basechansonnier.html.twig' %}
{% block title %}Folio {{ num }}{{ type }}{% endblock %}
{% block stylesheets %}
    <link id="mycss" rel="stylesheet" href="{{ asset('assets/css/basechansonnier.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href={{ asset('assets/js/tilezoom/tilezoom/jquery.tilezoom.css') }} />
{% endblock %}
{% block javascript  %}
    <script type="text/javascript" src={{ asset('assets/js/tilezoom/jquery.mousewheel.js') }}></script>
    <script type="text/javascript" src={{ asset('assets/js/tilezoom/tilezoom/jquery.tilezoom.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/fosjsrouting/js/router.js') }}></script>
{% endblock %}
{% block bandeauheader %}
    <h1>Le chansonnier R folio {{ num }}{{ type }}<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("chansonnierr/navigationr.html.twig", {index_menu:4}) }}
{% endblock %}

{% block contenugauche  %}
    <div class="row hidden-row" id="#gallica" style="z-index: 50">
        <button id="bt1" title="Fermer la fenêtre Image; pour réouvrir actualiser la page ou appuyer sur F5">X</button>
        {% set nomFolio = num ~ type %}
        {% for i in 0..tabsortie|length-1 %}
            {% if tabsortie[i]['folio'] == nomFolio %}
                <p><a href="http://gallica.bnf.fr/ark:/12148/btv1b60004306/{{ tabsortie[i]['imageGallica'] }}" style="margin-left: 50px" >Image Gallica f° {{ listeNum[i] }}{{ listeType[i] }}</a></p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="zoom-holder">
            <img class="zoom-hotspots" src="/assets/images/{{ num }}{{ type }}.xml" alt="image du folio {{ num }}{{ type }}"/>
        </div>
    </div>

{% endblock %}

{% block contenu %}

    <ul id="bandeauDiplo" style="list-style-type: none;background-color:white;position:fixed;">
        <li>
            <button id="bt2" title="Fermer la fenêtre de la transcription diplomatique; pour la réouvrir actualiser la page ou appuyer sur F5">X</button>
            <span style="color: #f5f5f5;background-color: #648dba;border-radius: 3px;font-weight: bold;padding: 2px;">Transcription diplomatique</span>
        </li>
    </ul>
    <br>

    {{ sortieDiplo | raw }}
{% endblock %}

{% block contenudroite  %}
    <ul id="bandeauInter" style="list-style-type: none;background-color:white;position:fixed;">
        <li>
            <button id="bt3" title="Fermer la fenêtre de la transcription interprétative; pour la réouvrir actualiser la page ou appuyer sur F5">X</button>
            <span style="color: #f5f5f5;background-color: #648dba;border-radius: 3px;font-weight: bold;padding: 2px;">Édition interprétative</span>
        </li>
    </ul>

    <br>
    {{ sortieInter | raw }}

   <!-- <a href="{{ path('partition', {num: num, type: type}) }}">voir la partition du f° {{ num }}{{ type }}</a>

    <a href="{{ path('partition', {num: num, type: type}) }}"><img src="{{ asset('/assets/images/_imagesutiles/note_de_musique.jpg') }}" alt="Note de musique indiquant la possibilité de voir et d'écouter la partition" title="il est possible de voir et d'écouter la partition en cliquant sur cette image" /></a>-->

    <script type="text/javascript">
        function aff1_triple() {
            document.getElementById('mycss').href = "/assets/css/basechansonnier.css";
        }

        $("#bt1").click(function() {
            $("#contenugauche").toggle();
            $("#contenucentral").removeClass('col-lg-5');
            $("#contenucentral").removeClass('col-md-5');
            $("#contenucentral").addClass('col-lg-6');
            $("#contenucentral").addClass('col-md-6');
            $("#contenudroite").removeClass('col-lg-3');
            $("#contenudroite").removeClass('col-md-3');
            $("#contenudroite").addClass('col-lg-6');
            $("#contenudroite").addClass('col-md-6');
            //$("#bandecentrale").prop("style", "overflow-x:scroll; margin-bottom:100px;"); pour ajouter l'ascenceur horizontal
        });

        $("#bt2").click(function() {
            $("#contenucentral").toggle();
            $("#contenugauche").removeClass('col-lg-4');
            $("#contenugauche").removeClass('col-md-4');
            $("#contenugauche").addClass('col-lg-6');
            $("#contenugauche").addClass('col-md-6');
            $("#contenudroite").removeClass('col-lg-3');
            $("#contenudroite").removeClass('col-md-3');
            $("#contenudroite").addClass('col-lg-6');
            $("#contenudroite").addClass('col-md-6');
        });

        $("#bt3").click(function() {
            $("#contenudroite").toggle();
            $("#contenugauche").removeClass('col-lg-4');
            $("#contenugauche").removeClass('col-md-4');
            $("#contenugauche").addClass('col-lg-6');
            $("#contenugauche").addClass('col-md-6');
            $("#contenucentral").removeClass('col-lg-5');
            $("#contenucentral").removeClass('col-md-5');
            $("#contenucentral").addClass('col-lg-6');
            $("#contenucentral").addClass('col-md-6');
        });

        $(document).ready(function(){
            $('#contenugauche').tilezoom({
                //width: 4267,
                //height: 5735,
                xml: '/assets/images/{{ num }}{{ type }}.xml',
                navigation: true,
                mousewheel : true
            });
            $('#gallica').hide()
            if ($('#contenugauche').tilezoom.zoom == $('#contenugauche').tilezoom.maxZoomLevel) {
                $('#gallica').show()
            }
        });


    </script>
{% endblock %}
{#
{% block footer  %}
<div style="margin-left: 20px;"><a title="Image + Transcription diplomatique + Transcription interprétative" onclick="aff1_triple()">triple</a>-<a title="Transcription diplomatique + Transcription interprétative">texte</a>-<a title="Image + Transcription diplomatique">Affichage img+d</a>-<a title="Image + Transcription interpretative">Affichage img+i</a></div>
{% endblock %}
#}