{% extends 'chansonnierr/basechansonnier.html.twig' %}
{% block title %}Folio 5 recto(<em>4267 x 5735</em>){% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/basechansonnier.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href={{ asset('assets/js/tilezoom/tilezoom/jquery.tilezoom.css') }} />
    <link rel="stylesheet" href="{{ asset('assets/js/midiplayer/midiplayer.css') }}" />
{% endblock %}
{% block javascript  %}
    <script type="text/javascript" src={{ asset('assets/vendor/jquery/dist/jquery.min.js') }}></script>
    <!--<script type="text/javascript" src={{ asset('assets/js/tilezoom/jquery.js') }}></script>-->
    <script type="text/javascript" src={{ asset('assets/js/tilezoom/jquery.mousewheel.js') }}></script>
    <script type="text/javascript" src={{ asset('assets/js/tilezoom/tilezoom/jquery.tilezoom.js') }}></script>
    <script src="{{ asset('assets/vendor/friendsofsymfony/jsrouting-bundle/Resources/js/router.js') }}"></script>


    <script type="text/javascript">


        $(document).ready(function(){

            //var url = Routing.generate('folio', { num: 5 });
            //$('#lienFolio').attr('href', url);

            $('#contenugauche').tilezoom({
                //width: 4267,
                //height: 5735,
                //path: '/assets/images/folio{{ num }}{{ type }}_files',
                //path: '/assets/images/folio5r',
                xml: '/assets/images/{{ num }}{{ type }}.xml',
                navigation: true,
                mousewheel : true

            });

            var vrvToolkit = new verovio.toolkit();
            var zoom = 10;
            var pageHeight = 800;
            var pageWidth = 800;
            function setOptions() {
                //////////////////////////////////////////////////////////////
                /* Adjust the height and width according to the window size */
                //////////////////////////////////////////////////////////////

                /*pageHeight = $(document).height() * 100 / zoom ;*/
                /*pageWidth = $(window).width() * 100 / zoom ;*/
                pageHeight = $('#contenudroite').height();
                pageWidth = $('#contenudroite').width();
                options = {
                    /* pageHeight */
                    pageHeight: pageHeight,
                    /* pageWidth */
                    pageWidth: pageWidth,
                    scale: zoom,
                    adjustPageHeight: 1,
                    ignoreLayout: 1
                };
                vrvToolkit.setOptions(options);
            }


            /* Load the file using HTTP GET */
            $.get( "/assets/mei/f°5r.mei", function( data ) {
                var svg = vrvToolkit.renderData(data, {});
                $("#output").html(svg);
            }, 'text');

            ////////////////////////////////////////////
            /* A function that start playing the file */
            ////////////////////////////////////////////
            function play_midi() {
                if (isPlaying == false) {
                    var base64midi = vrvToolkit.renderToMidi();
                    var song = 'data:audio/midi;base64,' + base64midi;
                    $("#player").show();
                    $("#player").midiPlayer.play(song);
                    isPlaying = true;
                }
            }

            var midiUpdate = function(time) {
                var vrvTime = Math.max(0, 2 * time - 800);
                var elementsattime = vrvToolkit.getElementsAtTime(vrvTime);
                if (elementsattime.page > 0) {
                    if (elementsattime.page != page) {
                        page = elementsattime.page;
                        loadPage();
                    }
                    if ((elementsattime.notes.length > 0) && (ids != elementsattime.notes)) {
                        ids.forEach(function(noteid) {
                            if ($.inArray(noteid, elementsattime.notes) == -1) {
                                $("#" + noteid).attr("fill", "#000").attr("stroke", "#000");
                            }
                        });
                        ids = elementsattime.notes;
                        ids.forEach(function(noteid) {
                            if ($.inArray(noteid, elementsattime.notes) != -1) {
                                $("#" + noteid).attr("fill", "#c00").attr("stroke", "#c00");;
                            }
                        });
                    }
                }
            }

            var midiStop = function() {
                ids.forEach(function(noteid) {
                    $("#" + noteid).attr("fill", "#000").attr("stroke", "#000");
                });
                $("#player").hide();
                isPlaying = false;
            }

            $(".note").click(function() {
                var id = $(this).attr("id");
                var time = vrvToolkit.getTimeForElement(id);
                // bug! time needs to be divided by 2
                $("#midi-player").midiPlayer.seek(time / 2);
            });

        });
    </script>
{% endblock %}
{% block bandeauheader %}
    <h1>Le chansonnier R folio {{ num }}{{ type }}</h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("chansonnierr/navigationr.html.twig", {index_menu:3}) }}
{% endblock %}

    {% block contenugauche  %}


    <div class="zoom-holder">

            <img class="zoom-hotspots" src="/assets/images/{{ num }}{{ type }}.jpg" alt="image du folio{{ num }}{{ type }}"/>

            <!--   <a style="left:10%;top:10%;" href="#">f°5r</a>
               <a style="left:10%;top:10%;" href="#" rel="12">Detail of the background</a>-->

    </div>
    <br><br>
      <!--   <img src="{{ asset('assets/images/folio5recto.jpg') }}" alt="Example2" /> -->

{# {{ sortieImage | raw }} #}
    {% endblock %}

    {% block contenu %}
        {{ sortieDiplo | raw }}
        <br>
        >>>><a href="{{ url('accueilChansonnierR') }}">Accéder à l'accueil du chansonnier R</a><<<<
    {% endblock %}

    {% block contenudroite  %}
        {{ sortieInter | raw }}

        <div id="player" />
        <div id="output"/>
        <div id="midiPlayer_div" />
    {% endblock %}

