{% extends 'tmao/basetmao.html.twig' %}
{% block meta %}
    <meta name="description" content="Chansonnier R, site de présentation et d'analyse du chansonnier R, manuscrit Paris, B.N.F., fr. 22543 (anc. La Vallière 14), également connu sous le nom de « Chansonnier d’Urfé » ou « de La Vallière ». " />
    <meta name="keywords" content="Chansonnier, Paris, BnF, fr. 22543, R, La Vallière, Troubadours, recueil, chansons, lyrique des troubadours, édition diplomatique, édition interprétative, musique" />
{% endblock %}
{% block title %}Accueil du chansonnier R{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}">
{% endblock %}
{% block javascript  %}
    <script type="text/javascript" src={{ asset('assets/js/tilezoom/jquery.mousewheel.js') }}></script>
    <script type="text/javascript" src={{ asset('assets/js/tilezoom/tilezoom/jquery.tilezoom.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/fosjsrouting/js/router.js') }}></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
{% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{ asset('r_favicon_lettre_r.png') }}" >
{% endblock %}
{% block bandeauheader %}
    <h1>Le chansonnier R<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("chansonnierr/navigationr.html.twig", {index_menu:1}) }}
{% endblock %}
{% block contenu %}
    <p>Le chansonnier R, manuscrit Paris, B.n.F., fr. 22543 (anc. La Vallière 14), également connu sous le nom de « Chansonnier d’Urfé » ou « de La Vallière » est un luxueux recueil médiéval de textes littéraires occitans. Une reproduction photographique est consultable sur le site Gallica de la Bibliothèque Nationale de France. Ce manuscrit contient notamment, des f° 1 à 113 et 143 à 144 une anthologie de chansons de troubadours, accompagnées souvent de la notation musicale et enluminé. Il contient aussi d’autres textes, principalement poétiques (poésies narratives et didactiques). Il s’agit donc d’un document central pour la transmission du corpus des troubadours et plus largement pour la littérature occitane médiévale. Le chansonnier R est bien connu des médiévistes qui se sont appuyés sur lui pour éditer l’œuvre des troubadours dont il contient les œuvres.</p>
    <ul id="listeResponsabilite">
        <li>
            Responsable du projet MHT : Dominique Billy
        </li>
        <li>
            Responsable informatique, transformation xslt, développement web : Yaël Champclaux
        </li>
        <li>
            Expertise TEI : Florence Clavaud (Conservateur en chef du patrimoine, responsable des référentiels documentaires aux Archives nationales)
        </li>
        <li>
            Consultants TEI : Gilda Caïti-Russo et Hervé Lieutard (Université Paul-Valéry, Montpellier III, Equipe LLACS : Langues, Littératures, Arts et Cultures des Suds)
        </li>
        <li>
            Préparation de l'encodage du chansonnier R : Maguelone Sauzet
        </li>
        <li>
            Transcription des Vidas du chansonnier R : Maguelone Sauzet
        </li>
        <li>
            Transcription des sections R1-R5 du chansonnier R : Alessio Collura
        </li>
        <li>
            Transcription des sections R6 et R13 du chansonnier R : Beatrice Solla
        </li>
        <li>
            Transcription des sections R7-R12 et R14 du chansonnier R : Fabio Barberini
        </li>
        <li>
            Transcription des mélodies : Stefano Milonia
        </li>
        <li>
            Étude linguistique : Camilla Talfani
        </li>
    </ul>


    <p>
        <a href="{{ url('teiHeaderChansonnierR') }}" style="margin-right: 20px">Accéder au <i>header</i> TEI du chansonnier R</a><a href="{{ url('listefolios') }}" style="margin-right: 20px">Accéder aux folios du chansonnier R</a><a href="{{ url('accueiltmao') }}">Retourner au Trésor Manuscrit de l'Ancien Occitan (TMAO)</a>
    </p>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src={{ asset('assets/vendor/datatables.net/js/jquery.dataTables.min.js') }}></script>
    <script type="text/javascript" src={{ asset('assets/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}></script>
{% endblock %}