{% extends 'tmao/basetmao.html.twig' %}
{% block meta %}
    <meta name="description" content="Offre l'accès aux folios du chansonnier R, manuscrit Paris, B.N.F., fr. 22543 (anc. La Vallière 14). Lien vers l'image originale des folios sur Gallica." />
    <meta name="keywords" content="folio, folios, Chansonnier, Paris, BnF, fr. 22543, R, La Vallière, Troubadours, recueil, chansons, lyrique des troubadours, édition diplomatique, édition interprétative, musique" />
{% endblock %}
{% block title %}Liste des transcriptions de folio du chansonnier R{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}">
{% endblock %}
{% block javascript  %}
    <script type="text/javascript" src={{ asset('assets/js/tilezoom/jquery.mousewheel.js') }}></script>
    <script type="text/javascript" src={{ asset('assets/js/tilezoom/tilezoom/jquery.tilezoom.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/fosjsrouting/js/router.js') }}></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
{% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{ asset('r_favicon_lettre_r.png') }}" >
{% endblock %}
{% block bandeauheader %}
    <h1>Le chansonnier R<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("chansonnierr/navigationr.html.twig", {index_menu:4}) }}
{% endblock %}
{% block contenu %}

    <table id="tableDesMatieres" class="table">
        <thead>
        <tr>
            <th>Folio</th>
            <th>Num mod 1</th>
            <th>Num ancien</th>
            <th>Image Gallica</th>
        </tr>
        </thead>
        <tbody>
        {% for i in 0..tabsortie|length-1 %}
            <tr>
                <td><a  href="{{ path('folio', {num:listeNum[i], type:listeType[i]}) }}">  Transcription et édition interprétative du folio {{ listeNum[i] }}{{ listeType[i] }}</a> du chansonnier R</td>
                <td>{{ tabsortie[i]['nummod1'] }}</td>
                <td>{{ tabsortie[i]['numancien'] }}</td>
                <td><a  href="http://gallica.bnf.fr/ark:/12148/btv1b60004306/{{ tabsortie[i]['imageGallica'] }}">Image du folio {{ listeNum[i] }}{{ listeType[i] }}</a> sur Gallica </td>
            </tr>
        {% endfor %}
    </table>
    <p>
        <a href="{{ url('accueilChansonnierR') }}" style="margin-right: 20px">Retourner à l'accueil du chansonnier R</a><a href="{{ url('teiHeaderChansonnierR') }}" style="margin-right: 20px">Accéder au <i>header</i> TEI du chansonnier R</a><a href="{{ url('accueiltmao') }}">Retourner au Trésor Manuscrit de l'Ancien Occitan</a>
    </p>

    <script>

        $(document).ready( function () {

            $('#tableDesMatieres').DataTable(
                    {
                        stateSave: true,
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/French.json"
                        }
                    }
            )
        }   );

    </script>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src={{ asset('assets/vendor/datatables.net/js/jquery.dataTables.min.js') }}></script>
    <script type="text/javascript" src={{ asset('assets/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}></script>
{% endblock %}