{% extends 'tmao/basetmao.html.twig' %}
{% block meta %}
    <meta name="description" content="Offre l'accès aux partitions du chansonnier R, manuscrit Paris, B.N.F., fr. 22543 (anc. La Vallière 14)." />
    <meta name="keywords" content="partition, troubadour, musique, musique médiévale, Chansonnier, Paris, BnF, fr. 22543, R, La Vallière, , recueil, chansons, lyrique des troubadours" />
{% endblock %}

{% block title %}Chansonnier R - Liste des partitions{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}">
{% endblock %}
{% block javascript  %}
    <script type="text/javascript" src={{ asset('bundles/fosjsrouting/js/router.js') }}></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
{% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{ asset('r_favicon_lettre_r.png') }}" >
{% endblock %}
{% block bandeauheader %}
    <h1>Le chansonnier R<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("chansonnierr/navigationr.html.twig", {index_menu:5}) }}
{% endblock %}
{% block contenu %}

    <table id="tableDesMatieres" class="table">
        <thead>
        <tr>
            <th>Partition à écouter</th>
            <th>Auteur</th>
            <th>Apparaît dans R au</th>
            <th>Image Originale <a href="http://gallica.bnf.fr/ark:/12148/btv1b60004306" title="Les images sont issues de Gallica">*</a></th>
            <th>Pdf à télécharger</th>
        </tr>
        </thead>
        <tbody>
        {% for i in 0..tabDesPartitions|length-1 %}
            <tr>
                {% if tabDesPartitions[i]['xml'] == 1%}
                    {% if tabDesPartitions[i]['mei'] == 1%}
                        <td><a  href="{{ path('partition3', {numtype:tabDesPartitions[i]['folio'], url:tabDesPartitions[i]['partition']}) }}">  Partition {{ tabDesPartitions[i]['partition'] }}</td>
                    {% else %}
                        <td>à venir : {{ tabDesPartitions[i]['partition'] }}</td>
                    {% endif %}
                    <td>{{ tabDesPartitions[i]['ntroubadour'] }}</td>
                    <td>Folio {{ tabDesPartitions[i]['folio'] }}</td>
                    {% if tabDesPartitions[i]['image'] == 1%}
                        <td><div class="hover_img"><a  href="/assets/mei/{{tabDesPartitions[i]['partition']}}/{{tabDesPartitions[i]['partition']}}.jpg"><img src="/assets/images/_imagesutiles/jpeg.png" alt="logo jpeg"/><span><img src="/assets/mei/{{tabDesPartitions[i]['partition']}}/{{tabDesPartitions[i]['partition']}}.jpg" alt="image " height="200" /></span></a></div></td>
                    {% else %}
                        {% if tabDesPartitions[i]['image'] == 2%}
                            <td><div class="hover_img"><a  href="/assets/mei/{{tabDesPartitions[i]['partition']}}/{{tabDesPartitions[i]['partition']}}-1.jpg"><img src="/assets/images/_imagesutiles/jpeg.png" alt="logo jpeg"/><span><img src="/assets/mei/{{tabDesPartitions[i]['partition']}}/{{tabDesPartitions[i]['partition']}}-1.jpg" alt="image " height="200" /></span></a> & <a  href="/assets/mei/{{tabDesPartitions[i]['partition']}}/{{tabDesPartitions[i]['partition']}}-2.jpg"> <img src="/assets/images/_imagesutiles/jpeg.png" alt="logo jpeg"/><span><img src="/assets/mei/{{tabDesPartitions[i]['partition']}}/{{tabDesPartitions[i]['partition']}}-2.jpg" alt="image " height="200" /></span></a></div></td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    {% endif %}
                    {% if tabDesPartitions[i]['pdf'] == 1%}
                        <td><a  href="/assets/mei/{{tabDesPartitions[i]['partition']}}/{{tabDesPartitions[i]['partition']}}.pdf"><img src="/assets/images/_imagesutiles/PDF.png" alt="logo téléchargement pdf"/></a></td>
                    {% else %}
                        <td></td>
                    {% endif %}

                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{{ url('accueilChansonnierR') }}" style="margin-right: 20px">Retourner à l'accueil du chansonnier R</a><a href="{{ url('teiHeaderChansonnierR') }}" style="margin-right: 20px">Accéder au <i>header</i> TEI du chansonnier R</a><a href="{{ url('accueiltmao') }}">Retourner au Trésor Manuscrit de l'Ancien Occitan</a>
    </p>
    <br><br><br><br>
    <script>

        $(document).ready( function () {

            $('#tableDesMatieres').DataTable(
                    {
                        stateSave: true,
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/French.json"
                        }
                    }
            )
        }   );

    </script>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src={{ asset('assets/vendor/datatables.net/js/jquery.dataTables.min.js') }}></script>
    <script type="text/javascript" src={{ asset('assets/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}></script>
{% endblock %}