
<div id="menunavigation"  class="row">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url('accueiltmao') }}" title="Accueil TMAO">TMAO</a>
                <a class="navbar-brand" href="{{ url('accueilChansonnierR') }}" title="Accueil Chansonnier R">Chansonnier R</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav  text-md-center justify-content-md-between">

                    <li {{ index_menu == 1 ? 'class="active"' }}><a href="{{ url('accueilChansonnierR') }}" title="Accueil du chansonnier R">Accueil</a></li>
                    <li {{ index_menu == 2 ? 'class="active"' }}><a href="{{ url('teiHeaderChansonnierR') }}" title="Header du chansonnier R">En-tête</a></li>
                    <li {{ index_menu == 4 ? 'class="active"' }}><a href="{{ url('listefolios') }}" title="Accès aux folios du chansonnier R">Les folios</a></li>
                    <li {{ index_menu == 5 ? 'class="active"' }}><a href="{{ url('listepartitions') }}" title="Accès aux partitions du chansonnier R">Les partitions</a></li>
                    <li {{ index_menu == 3 ? 'class="active"' }}><a href="{{ url('creditstmao') }}" title="Les crédits du projet TMAO - Chansonnier R">Crédits</a></li>
                    <!-- <li {{ index_menu == 4 ? 'class="active"' }}><a id=\"lienFolio\" href="" title="folio">Folio 5r</a></li>-->
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </nav>
</div>