{# partition permet d'appeler les pages avec le numéro (num) et le type (recto ou verso) du folio#}
{% extends 'tmao/basetmao.html.twig' %}
{% block meta %}
    <meta name="description" content="Partition musicale du folio {{ num }}{{ type }} du Chansonnier R, manuscrit Paris, BnF, fr." >
    <meta name="keywords" content="troubadour, troubadours, partition folio {{ num }}{{ type }}, Chansonnier, Paris, BnF, fr. 22543, R, recueil, chansons, lyrique des troubadours, musique, musique médiévale" >
{% endblock %}
{% block title %}Partition du folio {{ num }}{{ type }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/js/midiplayer/midiplayer.css') }}" />
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src={{ asset('bundles/fosjsrouting/js/router.js') }}></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <!-- verovio + player -->
    <script src="http://www.verovio.org/javascript/latest/verovio-toolkit.js"></script>
    <script type="text/javascript" language="javascript" src="{{ asset('assets/js/midiplayer/wildwebmidi.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ asset('assets/js/midiplayer/midiplayer.js') }}"></script>
{% endblock %}
{% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{ asset('r_favicon_lettre_r.png') }}" />
{% endblock %}
{% block bandeauheader %}<h1>Partition musicale du folio {{ num }}{{ type }} du Chansonnier R<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>{% endblock %}
{% block menunavigation  %}{{  include("chansonnierr/navigationr.html.twig", {index_menu:5}) }}{% endblock %}
{% block contenu %}


    <button id="play-button" type="button" class="btn btn-default" aria-label="Left Align" onclick="playMidi()"  style="float: left;padding: 7px; ">
        <span class="glyphicon glyphicon-music"> Écouter </span>
    </button>
    <div id="player" style="float: left;margin-left: 60px;">
    </div><span style="float: right;">Téléchargement : <a  href="/assets/mei/{{url}}/{{url}}.pdf ">PDF</a> de la partition {{ url }}</span>
    <div id="output">
    </div>
    <p><a href="{{ path('folio', {num:num, type:type}) }}">Retourner au folio {{ num }}{{ type }}</a></p>
    <br><br><br><br>
    <script type="text/javascript">
        var vrvToolkit = new verovio.toolkit();
        var zoom = 60;
        var pageHeight = 1600;
        var pageWidth = 1800;

        var ids = [];
        var isPlaying = false;

        function setOptions() {
           //pageHeight = $('#contenucentral').height();
            //pageWidth = $('#contenucentral').width();
            options = {
                /* inputFormat: 'mei',*/
                /* pageHeight */
                pageHeight: pageHeight,
                /* pageWidth */
                pageWidth: pageWidth,
                /*  border: border,*/
                scale: zoom,
                adjustPageHeight: 1,
                ignoreLayout: 1
            };
            vrvToolkit.setOptions(options);
        }

        function showSVG(data){
            var svg = vrvToolkit.renderData(data, {});
            $("#output").html(svg);
        }

        function playMidi(data) {
            if (isPlaying == false) {
                var base64midi = vrvToolkit.renderToMidi();
                var song = 'data:audio/midi;base64,' + base64midi;
                $("#player").show();
                $("#player").midiPlayer.play(song);
                isPlaying = true;
            }
        }

        function loadFile(){
            file = "/assets/mei/f°{{ num }}{{ type }}.mei";
            //"http://localhost:8550/assets/mei/f%C2%B05r.mei"
            //http://localhost:8550/assets/mei/f%C2%B05r.mei
            $.ajax({
                url: file
                , dataType: "text"
                , success: function(data) {
                    setOptions();
                    vrvToolkit.loadData(data);
                    showSVG(data);
                    /*ajouter event aux notes */
                    $(".note").click(function() {
                        var id = $(this).attr("id");
                        var time = vrvToolkit.getTimeForElement(id);
                        // bug! time needs to be divided by 2
                        $("#midi-player").midiPlayer.seek(time / 2);
                    });
                    $("#player").hide();
                    //$("#player").show();
                    //à enlever pour depart auto
                    //playMidi();
                }
            });
        }

        var midiUpdate = function(time) {
            // bug! time needs to be * 2 (- 800 for adjustment)
            var vrvTime = Math.max(0, 2 * time - 800);
            var elementsattime = vrvToolkit.getElementsAtTime(vrvTime);

            if ((elementsattime.notes.length > 0) && (ids != elementsattime.notes)) {
                ids.forEach(function(noteid) {
                    if ($.inArray(noteid, elementsattime.notes) == -1) {
                        $("#" + noteid).attr("fill", "#000").attr("stroke", "#000");
                    }
                });
                ids = elementsattime.notes;
                ids.forEach(function(noteid) {
                    if ($.inArray(noteid, elementsattime.notes) != -1) {
                        $("#" + noteid).attr("fill", "#c00").attr("stroke", "#c00");;
                    }
                });
            }
        }

        var midiStop = function() {
            ids.forEach(function(noteid) {
                $("#" + noteid).attr("fill", "#000").attr("stroke", "#000");
            });
            $("#player").hide();
            isPlaying = false;
        }

        $( document ).ready(function() {
            $("#player").midiPlayer({
                color: "red",
                onUnpdate: midiUpdate,
                onStop: midiStop,
                width: 250
            });
            loadFile();
        });
    </script>
{% endblock %}







