{% extends 'tmao/basetmao.html.twig' %}
{% block title %}Header TEI du chansonnier R{% endblock %}
{% block bandeauheader %}
    <h1>Le chansonnier R<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("chansonnierr/navigationr.html.twig", {index_menu:2}) }}
{% endblock %}
{% block contenudroite  %}{% endblock %}
    {% block contenu %}

        {{ sortie | raw }}


        <p>
            <a href="{{ url('accueilChansonnierR') }}" style="margin-right: 20px">Retourner à l'accueil du chansonnier R</a><a href="{{ url('listefolios') }}" style="margin-right: 20px">Accéder aux folios du chansonnier R</a><a href="{{ url('accueiltmao') }}">Retourner au Trésor Manuscrit de l'Ancien Occitan</a>
        </p>

        <br><br><br>
    {% endblock %}

    {% block contenugauche  %}{% endblock %}