{% extends 'tmao/basetmao.html.twig' %}
{% block title %}Administration du TMAO{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src={{ asset('assets/vendor/elasticsearch/elasticsearch.js') }}></script>
{% endblock %}
{% block bandeauheader %}
    <h1>Administration des utilisateurs et de  l'index des oeuvres<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("tmao/navigationtmao.html.twig", {index_menu:6}) }}
{% endblock %}
{% block contenu %}
    <h1>Administration de l'index des oeuvres</h1>
    <button type="button" class="btn btn-warning btn-md"  onClick="location.href = '{{ url('fos_user_registration_register') }}';">Ajouter un administrateur</button>
    <button type="button" id="#buttonlist" class="btn btn-default btn-md" onclick="listeDocument();">Liste des Documents</button>
    <button type="button" class="btn btn-danger btn-md"  onClick="droptmao()">!! Effacer l'index TMAO !!</button>
    <button type="button" class="btn btn-primary btn-md"  onClick="location.href = '{{ path('create') }}';">Créer l'index TMAO </button>
    <button type="button" class="btn btn-primary btn-md"  onClick="location.href = '{{ path('fill') }}';">Remplir l'index TMAO </button>

    <!--<button type="button" class="btn btn-primary btn-md" onclick="regeneratetmao();">Regénérer l'index TMAO</button> la regeneration d'un coup pose un probleme-->

    <div id="info"></div>
    <div id="divfeedback"><!-- contient la réponse au client js ...-->

    </div>
    <div id="divreponse"><!-- contient la réponse aux commandes serveur ...-->
        {%   if reponse is defined and not(null) %}
            {{ reponse | raw }}
        {% endif %}
    </div>
    <div id="divajaxrep"></div>

    <br><br><br><br>
    <p><b>Attention à ne pas quitter l'administration sans avoir créer un index</b>, cela rendrait la page de recherche inaccessible.</p>
    <p>Retourner au <a href="{{ url('accueiltmao') }}">Trésor Manuscrit Ancien Occitan</a> (TMAO).</p>
    <br><br><br><br>

{% endblock %}
{% block javascripts %}
    <script>
        function catindices(){
            client.indices.exists({
                    index: "tmao"
                }, function (error, response) {
                    nettoyerDivfeedback();
                    if (error) {
                        $("#info").html('L\'index TMAO n\'existe pas!');
                        //console.error('L\'index TMAO n\'existe pas !');
                    } else {
                        client.indices.stats({
                            index: "tmao"
                        }, function (error, response) {
                            nettoyerDivfeedback();
                            if (error) {
                                $("#info").html('elasticsearch indices.stat a rencontré un problème');
                                //console.error('elasticsearch count doesn\'t work!');
                            } else {
                                console.log(response);
                                //$("#info").text("The DOM is now loaded : L'index " + response.index + " compte " + response.indices.tmao.total.docs.count + " et occupe " +response.indices.tmao.primaries.completion.size_in_bytes + "d'espace.");
                                //$("#info").text("L'index TMAO compte "+response.indices.tmao.total.docs.count + " documents qui occupent "+response.indices.tmao.total.store.size_in_bytes/1000000 + " Mo d'espace.");
                                $("#info").html('<p>L\'index TMAO compte '+response.indices.tmao.total.docs.count + ' documents qui occupent '+response.indices.tmao.total.store.size_in_bytes/1000000 + ' Mo d\'espace.</p>');
                                //var myVar = "{{ path('listedocumentsindexes') }}";
                                //$("#info").append('<p><a href="'+myVar+'"> Voir la liste des documents </a></p>');
                            }
                        });
                    }
                }
            )
        }
/*
        function startsWith(str, word) {
            return str.lastIndexOf(word, 0) === 0;
        }*/

        function listeDocument(){
            client.indices.exists({
                    index: "tmao"
                }, function (error, response) {
                    nettoyerDivfeedback();
                    if (error) {
                        $("#divfeedback").html('L\'index TMAO n\'existe pas !');
                        //console.error('L\'index TMAO n\'existe pas !');
                    } else {
                        client.search({
                            index: 'tmao',
                            type: 'oeuvre',
                            body: {
                                size:1000,
                                //sort: [{ "_uid": { "order": "asc" } }], //fonctionne mais le classement obtenu n'est pas joli 1 10 100 101 102 103
                                query: {
                                    match_all: {}
                                }
                            }
                        }, function (error, response) {
                                nettoyerDivfeedback();
                                if (error) {
                                    $("#divfeedback").html('La fonction de recherche a rencontré un problème : <br>'+error);
                                    //console.error('L\'index TMAO n\'existe pas !');
                                } else {
                                    var hits = response.hits.hits;
                                    //console.log('Nombre de résultats: ' + response.hits.total);
                                    nbTotalReponse = response.hits.total;
                                    response.hits.hits.forEach(function (hit) {
                                        //console.log(hit._id);//+" "+hit._id
                                        //var url = Routing.generate('charteid', {'id': hit._id});
                                        //console.log(url);
                                        //$("#reponse").append("<p>"+hit._id+"</p>");//fonctionne
                                        var hitCurrent = hit._id;
                                        var url;
                                        /*if (hitCurrent.startsWith('ChartPrB')) {
                                            url = Routing.generate('charteid', {'id': hit._id}); //les chartes ont la particularité d'avoir une table des matières elles se trouvent sous ChartesDeBrunel
                                        } else {
                                            url = Routing.generate('oeuvre_show', {'fichier': hit._id}); // les autres oeuvres se trouvent directement sous la racine /
                                        }*/

                                        url = Routing.generate('oeuvrecomposite', {'id': hit._id});

                                        $("#divfeedback").append('<a href="'+url+'">'+hit._id+'</a> ');
                                    } );
                                }
                                addCleanLink();
                            })
                        }
                    })
        }

        function droptmao() {
            client.indices.exists({
                        index: "tmao"
                    }, function (error, response) {
                            nettoyerDivfeedback();
                            if (error) {
                                $("#divfeedback").append('L\'index TMAO est déjà éffacé : <br>'+error);
                            } else {
                                if  (confirm('Souhaitez-vous vraiment Effacer l\'index TMAO courant?')) {
                                    client.indices.delete({
                                        index: "tmao"
                                    }, function (error, response) {
                                        //console.trace(error.message);
                                        nettoyerDivfeedback();
                                        if (error) {
                                            $("#divfeedback").append('L\'effacement de l\'index TMAO a rencontré une erreur : <br>'+error);
                                            //console.error('L\'effacement de l\'index TMAO a rencontré une erreur : ');
                                        } else {
                                            var maVar = "{{ path('adminelastic') }}";
                                            $("#divfeedback").append('L\'index TMAO a été Effacé cliquez sur le lien suivant pour recharger la page : '+'<a href="'+maVar+'">'+'Recharger</a>');
                                        }
                                        addCleanLink();
                                    })
                                 }
                            }
                    }
            )
            return
        }

        function regeneratetmao() {
            location.href = '{{ path('createandfill') }}';
            return
        }


        function nettoyerDivfeedback() {
            $('#divfeedback').html("");
            return
        }

        function addCleanLink(){
            var myVar = "nettoyerDivfeedback();";
            var myVAr2 = "#";
            $("#divfeedback").append('<p><a href="'+myVAr2+'" onclick="'+myVar+'">'+'Fermer la fenêtre d\'information</a><p>');
            $("#buttonlist").prop("disabled",true);
            return
        }
        // au démarrage on affiche les infos de l'index
        $(function () {
            catindices();
            return
        })
    </script>
{% endblock %}