{% extends 'tmao/basetmao.html.twig' %}
{% block title %}Administration du TMAO{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src={{ asset('assets/vendor/elasticsearch/elasticsearch.js') }}></script>
{% endblock %}
{% block bandeauheader %}
    <h1>Administration de  l'index des oeuvres<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("tmao/navigationtmao.html.twig", {index_menu:4}) }}
{% endblock %}
{% block contenu %}
    <h1>Administration de l'index des oeuvres</h1>
    <button type="button" id="boutonDrop" class="btn btn-danger btn-md"  onClick="location.href = '{{ path('drop') }}';">Effacer l'index TMAO</button>
    <button type="button" class="btn btn-primary btn-md"  onClick="location.href = '{{ path('create') }}';">Créer l'index TMAO </button>
    <button type="button" class="btn btn-primary btn-md"  onClick="location.href = '{{ path('fill') }}';">Remplir l'index TMAO </button>
    <button type="button" class="btn btn-default btn-md ajax" onClick="location.href = '{{ path('listedesdocumentsindexes') }}';">Liste des documents</button>
    <div id="info"></div>
    <div id="allstat">
        {%   if allstats is defined %}
            {%   if allstats != null %}
                {# l'heure a un décalage de 6h en hiver ..  à {{ allstats['indices']['creeDepuis'] | date('H') }}  - allstats['indices']['creeDepuis'] | date('I')}} heure(s) {{ allstats['indices']['creeDepuis'] |date('i')}} minute(s) {{ allstats['indices']['creeDepuis'] |date('s')}} seconde(s)#}
                <p>L'index TMAO crée le {{ allstats['indices']['creeDepuis'] |date('d')}}/{{ allstats['indices']['creeDepuis'] |date('m')}}/{{ allstats['indices']['creeDepuis'] |date('Y')}}, possède {{ allstats['indices']['nbReplicas'] }} réplicas et {{ allstats['indices']['nbShards'] }} shards.
                    Il appartient à {{ allstats['noeudstats']['nbTotalNoeuds'] }} noeud(s) -{{ allstats['noeudstats']['nbEchecs'] }} échec(s)- sur le cluster "{{ allstats['noeudstats']['clusterName']  }}".
                    Il compte <b>{{ allstats['indexstats']['nbDocuments'] }} documents</b>(<a href="#" title="Le chansonnier R ne fait pas partie des documents indexés pour la recherche, il y a donc une oeuvre en moins par rapport au site.">*</a>) qui occupent {{ allstats['indexstats']['usedSpaceMo'] }} Mo d'espace.</p>
            {% else %}
                {% if reponse == "<p>Le TMAO a été effacé avec succès</p>" %}
                    <p>Cliquez sur le lien suivant pour recharger la page : <a href="{{ path('adminelastic') }}">Recharger</a></p>
                {% endif %}
                {%   if allstats == null %}
                    <p>Les caractéristiques de l'index ne sont pas disponibles.</p>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    <div id="divreponse" class="height-10vh"><!-- contient la réponse aux commandes serveur ...-->
        {%   if reponse is defined %}
            {%   if reponse != null %}
               {#   {{ dump(reponse) }}#}{{ reponse | raw }}
            {% endif %}
        {% endif %}

    </div>


    <br><br><br><br>
    <p><b>Attention à ne pas quitter l'administration sans avoir créer un index</b>, cela rendrait la page de recherche inaccessible.</p>
    <p>Retourner au <a href="{{ url('accueiltmao') }}">Trésor Manuscrit Ancien Occitan</a> (TMAO).</p>


    <br><br><br><br>
    <script>
        function nettoyerDivReponse() {
            $('#divreponse').html("");
            return
        }
    </script>
{% endblock %}
