{% extends 'tmao/basetmao.html.twig' %}
{% block meta %}
    <meta name="description" content="Crédits du site trésor manuscrit de l'ancien occitan" />
    <meta name="keywords" content="crédits TMAO, MHT, Manuscript Heritage of the Troubadours, IDEX, UT2J, CNRS, CLLE, HUMA-NUM" />
{% endblock %}
{% block title %}Crédits du TMAO{% endblock %}
{% block menunavigation  %}
    {{  include("tmao/navigationtmao.html.twig", {index_menu:2}) }}
{% endblock %}
{% block contenu %}
    <p>Le Trésor Manuscrit de l’Ancien Occitan (TMAO) a été conçu dans le cadre du projet MHT « Manuscript Heritage of the Troubadours » monté en 2015 dans le cadre d’un appel à projets ATS (Actions Thématiques Stratégiques) du programme IDEX Recherche porté par l’Université Fédérale Toulouse Midi-Pyrénées, sur la base d’une convention établie avec le CNRS, pour le compte du laboratoire <a href="http://clle.univ-tlse2.fr/">CLLE</a> (Cognition, Langues, Langage, Ergonomie), UMR 5263.</p>

    <p>Le site TMAO a été conçu avec le framework PHP <a href="http://symfony.com/">Symfony</a> version 3.3 et développé à l'aide des applications:
        <a href="http://httpd.apache.org/">Apache 2.4</a>, <a href="http://www.php.net/">PHP 7.0</a>, <a href="https://www.sqlite.org/">Sqlite 3</a>, <a href="https://www.elastic.co/fr/products/elasticsearch">Elastisearch 5.6.3</a>.
    </p><p> Il utilise les langages <a href="https://www.w3.org/XML/">XML</a>, <a href="https://www.w3.org/Style/XSL/">XSL</a>, <a href="http://www.w3.org/standards/webdesign/htmlcss">HTML5</a>,
    <a href="http://www.w3.org/standards/webdesign/htmlcss">Css3</a>,
    <a href="http://www.w3.org/standards/webdesign/script">Javascript</a>
    avec la bibliothèque <a href="https://jquery.com/">Jquery</a>,
    le framework <a href="http://getbootstrap.com/">Bootstrap</a>,
    le pluggin <a href="http://labs.webcodingstudio.com/tilezoom/docs.html">Tilezoom</a> pour la visualisation des images,
    le framework <a href="http://www.verovio.org/index.xhtml">Verovio</a> pour la visualisation des partitions musicales,
    le player <a href="https://github.com/rism-ch/midi-player">MIDI Player</a> pour l'écoute des partitons musicales.
   </p>
    <p>
        Les images des pages du chansonnier R sont extraite du site Gallica : (<a href="http://gallica.bnf.fr/ark:/12148/btv1b60004306">http://gallica.bnf.fr/ark:/12148/btv1b60004306</a>) où elles sont proposées avec une qualité (dimension et résolution) très supérieure.
    </p>
    <p>
        Le site est hébergé par la très grande infrastucture de recherche (TGIR) <a href="http://www.huma-num.fr"><img src="{{ asset('assets/images/_imagesutiles/humanum.jpg') }}" alt="Logo Humanum" title="La très grande infrastucture de recherche Humanum" /></a>.
    </p>
    <br><br>
    <img src="{{ asset('assets/images/_imagesutiles/Universite_federale_cnrs_ut2j.png') }}" alt="Logo sponsors (ut2j - cnrs)" title="Nos sponsors : Université fédérale Toulouse Midi-Pyrénéees, CNRS, université Jean Jaurès" />
    <br><br><br><br>



{% endblock %}