{% extends 'tmao/basetmao.html.twig' %}
{% block title %}Outil de recherche textuelle du TMAO{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src={{ asset('assets/vendor/elasticsearch/elasticsearch.js') }}></script>
{% endblock %}
{% block bandeauheader %}
    <h1>Elastic<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("tmao/navigationtmao.html.twig", {index_menu:5}) }}
{% endblock %}
{% block contenu %}
<script>
/*
    var client = new elasticsearch.Client({
        host: 'localhost:9200'
        //,log: 'trace'
    });*/

   /* client.ping({
        requestTimeout: 30000
    }, function (error) {
        if (error) {
            console.error('elasticsearch cluster is down!');
        } else {
            console.log('All is well');
        }
        //client.close();
    });*/
</script>
   {# {{ doc1 }}
    {{ doc2 }}
     {{ dump(doc3) }}
    {{ dump(doc3b) }}{{ dump(response) }}#}

    <input type="text" id="txtSearch" /><a href="#" onclick="doSearch();">Recherche</a>
    <div id="info"></div>
  <!--  <div id="listedoc"><p><a href="{{ path('listedocumentsindexes') }}"> Liste docs </a></p><p><a href="{{ path('adminelastic') }}"> Admin index </a></p></div>-->
    <div id="divfeedback"></div>
    <div id="reponse"></div>

    <p>Retourner au <a href="{{ url('accueiltmao') }}">Trésor Manuscrit Ancien Occitan</a> (TMAO).</p>

{% endblock %}

{% block javascripts %}
    <script>
        var client = new elasticsearch.Client({
            host: 'localhost:9200'
        });

        function catindices(){
            client.indices.exists({
                        index: "tmao"
                    }, function (error, response) {
                        nettoyerDivfeedback();
                        if (error) {
                            $("#info").html('L\'index TMAO n\'existe pas! Recherche impossible');
                            //console.error('L\'index TMAO n\'existe pas !');
                        } else {
                            client.indices.stats({
                                index: "tmao"
                            }, function (error, response) {
                                nettoyerDivfeedback();
                                if (error) {
                                    $("#info").html('elasticsearch indices.stat a rencontré un problème');
                                    //console.error('elasticsearch count doesn\'t work!');
                                } else {
                                    console.log(response);
                                    //$("#info").text("The DOM is now loaded : L'index " + response.index + " compte " + response.indices.tmao.total.docs.count + " et occupe " +response.indices.tmao.primaries.completion.size_in_bytes + "d'espace.");
                                    //$("#info").text("L'index TMAO compte "+response.indices.tmao.total.docs.count + " documents qui occupent "+response.indices.tmao.total.store.size_in_bytes/1000000 + " Mo d'espace.");
                                    $("#info").html('<p>L\'index TMAO compte '+response.indices.tmao.total.docs.count + ' documents qui occupent '+response.indices.tmao.total.store.size_in_bytes/1000000 + ' Mo d\'espace.</p>');
                                    //var myVar = "{{ path('listedocumentsindexes') }}";
                                    //$("#info").append('<p><a href="'+myVar+'"> Voir la liste des documents </a></p>');
                                }
                            });
                        }
                    }
            )
        }

        function doSearch(){
            client.indices.exists({
                index: "tmao"
            }, function (error, response) {
                nettoyerDivfeedback();
                if (error) {
                    $("#divfeedback").html('L\'index TMAO n\'existe pas !');
                    //console.error('L\'index TMAO n\'existe pas !');
                } else {
                    client.search({
                        index: 'tmao',
                        type: 'oeuvre',
                        body: {
                            size:1000,
                            //sort: [{ "_uid": { "order": "asc" } }], //fonctionne mais le classement obtenu n'est pas joli 1 10 100 101 102 103
                            query : {
                                    //match: { "content": ''+$("#txtSearch").val() } //marche
                                query_string:{
                                    default_field : 'content',
                                    query: ''+$("#txtSearch").val()
                                }
                            },
                            highlight : {
                                fragment_size: 50,
                                fields : {
                                        content : {}
                                }
                            }

                //query: {
                                /*query_string: { //marche bien
                                    query: ''+$("#txtSearch").val()
                                }*/
                                /*,term: { //fonctionne sans joker
                                    _all: ''+$("#txtSearch").val()
                                }
                                */
                            //}
                        }
                    }, function (error, response) {
                        nettoyerDivfeedback();
                        if (error) {
                            $("#divfeedback").html('La fonction de recherche a rencontré un problème : <br>'+error);
                            //console.error('L\'index TMAO n\'existe pas !');
                        } else {
                            var hits = response.hits.hits;
                            //console.log('Nombre de résultats: ' + response.hits.total);
                            nbTotalReponse = response.hits.total;
                            response.hits.hits.forEach(function (hit) {
                                //console.log(hit._id);//+" "+hit._id
                                //var url = Routing.generate('charteid', {'id': hit._id});
                                //console.log(url);
                                //$("#reponse").append("<p>"+hit._id+"</p>");//fonctionne
                                var hitCurrent = hit._id;
                                var url;
                               /* if (hitCurrent.startsWith('ChartPrB')) {
                                    url = Routing.generate('charteid', {'id': hit._id}); //les chartes ont la particularité d'avoir une table des matières elles se trouvent sous ChartesDeBrunel
                                } else {
                                    url = Routing.generate('oeuvre_show', {'fichier': hit._id}); // les autres oeuvres se trouvent directement sous la racine /
                                }*/
                                url = Routing.generate('oeuvrecomposite', {'id': hit._id});
                                $("#divfeedback").append('<a href="'+url+'">'+hit._id+'</a> '+hit.highlight.content[0]+'<br>');
                            } );
                        }
                        addCleanLink();
                    })
                }
            })
            client.search({
                index: 'tmao',
                type: 'oeuvre',
                body: {
                    match_all: {}
                    /*query: {
                        match: {
                            content: 'Sancti'//$("#txtSearch").val()
                        }
                    }*/
                }
            }, function (resp,err) {
                if (err) {
                    $("#divfeedback").html('search a rencontré un problème :'+err);
                    console.trace(err.message);
                } else {
                    var hits = resp.hits.hits;
                    console.log('Total results found: ' + resp.hits.total);
                    resp.hits.hits.forEach(function (hit) {
                        var hitCurrent = hit._id;
                        var url;
                        if (hitCurrent.startsWith('ChartPrB')) {
                            url = Routing.generate('charteid', {'id': hit._id}); //les chartes ont la particularité d'avoir une table des matières elles se trouvent sous ChartesDeBrunel
                        } else {
                            url = Routing.generate('oeuvre_show', {'fichier': hit._id}); // les autres oeuvres se trouvent directement sous la racine /
                        }
                        $("#divfeedback").append('<a href="'+url+'">'+hit._id+'</a> ');
                        //console.log(hit._id);//+" "+hit._id
                        //console.log(hit._source.name);//+" "+hit._id
                    })
                }
            })
        }

        function startsWith(str, word) {
            return str.lastIndexOf(word, 0) === 0;
        }

        function listeDocument(){
            client.indices.exists({
                index: "tmao"
            }, function (error, response) {
                nettoyerDivfeedback();
                if (error) {
                    $("#divfeedback").html('L\'index TMAO n\'existe pas !');
                    //console.error('L\'index TMAO n\'existe pas !');
                } else {
                    client.search({
                        index: 'tmao',
                        type: 'oeuvre',
                        body: {
                            size:1000,
                            //sort: [{ "_uid": { "order": "asc" } }], //fonctionne mais le classement obtenu n'est pas joli 1 10 100 101 102 103
                            query: {
                                match_all: {}
                            }
                        }
                    }, function (error, response) {
                        nettoyerDivfeedback();
                        if (error) {
                            $("#divfeedback").html('La fonction de recherche a rencontré un problème : <br>'+error);
                            //console.error('L\'index TMAO n\'existe pas !');
                        } else {
                            var hits = response.hits.hits;
                            //console.log('Nombre de résultats: ' + response.hits.total);
                            nbTotalReponse = response.hits.total;
                            response.hits.hits.forEach(function (hit) {
                                //console.log(hit._id);//+" "+hit._id
                                //var url = Routing.generate('charteid', {'id': hit._id});
                                //console.log(url);
                                //$("#reponse").append("<p>"+hit._id+"</p>");//fonctionne
                                var hitCurrent = hit._id;
                                var url;
                                if (hitCurrent.startsWith('ChartPrB')) {
                                    url = Routing.generate('charteid', {'id': hit._id}); //les chartes ont la particularité d'avoir une table des matières elles se trouvent sous ChartesDeBrunel
                                } else {
                                    url = Routing.generate('oeuvre_show', {'fichier': hit._id}); // les autres oeuvres se trouvent directement sous la racine /
                                }
                                $("#divfeedback").append('<a href="'+url+'">'+hit._id+'</a> ');
                            } );
                        }
                        addCleanLink();
                    })
                }
            })
        }

        function nettoyerDivfeedback() {
            $('#divfeedback').html("");
            return
        }

        function addCleanLink(){
            var myVar = "nettoyerDivfeedback();";
            var myVAr2 = "#";
            $("#divfeedback").append('<p><a href="'+myVAr2+'" onclick="'+myVar+'">'+'Fermer la fenêtre d\'information</a><p>');
            $("#buttonlist").prop("disabled",true);
            return
        }

        // au démarrage on affiche les infos de l'index
        $(function () {
            //catindices();
            return
        })

    </script>
{% endblock %}