{% extends 'tmao/basetmao.html.twig' %}
{% block meta %}
    <meta name="description" content="ensemble de textes médiévaux manuscrits de tous genres (chansonniers, poésie narrative, satirique, didactique, religieuse, traités de toutes sortes, chartes, documents consulaires etc.), qu’il s’agisse de textes originaux ou de copies écrits au moyen âge (du XIIe au XIIIe siècle), de toute provenance, qu’ils aient été copiés dans l’espace occitan ou non, que le copiste soit lui-même occitan ou non, afin de proposer une banque de données textuelles et un outil pour l’étude linguistique, littéraire ou historique de l’occitan médiéval" />
    <meta name="keywords" content="trésor manuscrit, ancien occitan, chansonnier, chansonnier R, chartes Brunel" />
{% endblock %}
{% block title %}TMAO : Trésor Manuscrit de l'Ancien Occitan{% endblock %}
{% block contenu %}
    <h3>Présentation</h3>
    <p>Le site TMAO met à disposition des chercheurs une vaste documentation occitane des origines au XVI<sup>e</sup> siècle
         qu’il permet d’interroger afin de retrouver des formes linguistiques particulières
        ou des noms propres. Il donne accès à des <a href="{{ url('listeoeuvres') }}" title="Accès aux oeuvres du Trésor manuscrit de l\'ancien occitan">pages</a> présentant des textes médiévaux manuscrits de tous genres (chansonniers,
        poésie narrative, satirique, didactique, religieuse, traités de toutes sortes, chartes, documents consulaires etc.),
        qu’il s’agisse de textes originaux ou de copies écrites au moyen âge, voire dans la première moitié du XVI<sup>e</sup> siècle (version en prose de la <em><b><a  href="{{ path('oeuvre_show', {'fichier':'croisAlb3H' }) }}" title="Texte de la chanson de la Croisade">Chanson de la Croisade</a></b></em> conservée au château de Merville),
        de toute provenance, qu’ils aient été copiés dans l’espace occitan ou non, que le copiste soit lui-même occitan ou non,
        afin de proposer une banque de données textuelles et un outil pour l’étude linguistique, littéraire ou historique de l’occitan médiéval.</p>
    <h3>Le corpus</h3>
    <p>Le projet s’inscrit ainsi dans la continuité de la <em>Concordance de l’Occitan Médiéval</em>, projet interrompu par le décès
        de Peter T. Ricketts qui l’a conçu et dirigé avec l’aide de nombreux collaborateurs dont le concours a pu aboutir à la
        publication des deux premières tranches prévues, l’une consacrée à la poésie des troubadours (2001), l’autre consacré à
        la poésie non lyrique (2005). La seconde édition, sous le titre COM2, réunit en fait les tranches 1 et 2.
    </p>
    <p>Dans sa version actuelle, le TMAO reprend les matériaux de la tranche 3 consacrée aux textes en prose avec diverses corrections ou substitutions, une certaine harmonisation des normes de transcription; et un encodage nouveau.
        Le texte le plus tardif est tiré d’un incunable, de 1492, le <em>Compendion de l’abaco</em> (<b><a  href="{{ path('oeuvre_show', {'fichier':'AbacoL' }) }}" title="Texte de AbacoL">AbacoL</a></b>),
        traité de mathématiques écrit ou du moins terminé en 1460.</p>
    <p>Le TMAO entend ainsi, avec des moyens nouveaux, prendre le relais de la COM pour la réalisation de la troisième tranche, laissée inachevée et inédite, la réalisation
        de la quatrième tranche (éditions interprétatives des chansonniers) étant tributaire de projets spécifiques qui pourraient, naturellement,
        s’intégrer sans difficulté au TMAO, comme nous l’avons prévu pour le chansonnier <em>R</em>.</p>
    <h3>L’organisation des matériaux</h3>
    <p>Dans la COM3, l’unité textuelle correspond en général à une œuvre, mais elle peut correspondre également à des recueils de textes, comme dans le cas des cartulaires, ou encore des compilations. Notre objectif étant d’accompagner les textes d’indications sur leur datation et leur localisation, nous avons systématiquement scindés les fichiers informatiques correspondants en autant d’entités que de documents distincts lorsque ceux-ci étaient clairement identifiables, chacun pouvant être situé dans le temps et dans l’espace, avec la difficulté posée par les copies tardives, ces textes conservant des traits originaux tout en se laissant contaminer par la langue ou l’état de langue du copiste, avec une modernisation plus ou moins poussée pouvant aller jusqu’au renouvellement ponctuel du lexique.</p>
    <h3>La désignation des textes</h3>
    <p>Peter Ricketts avait adopté une siglaison au moyen de quatre lettres, dans certaines circonstances suivi d’un chiffre :
        PACB1 désigne ainsi le premier volume des <em>Plus anciennes chartes en langue provençale</em> de Clovis Brunel.
        Nous avons donné la préférence aux abréviations du <em><a href="http://www.dom-en-ligne.de">Dictionnaire de l’Occitan Médiéval (DOM)</a></em>,
        soit, en l’occurrence, à <b><a  href="{{ path('oeuvre_header_show', {'fichier':'ChartPrB' }) }}" title="Texte des Chartes de Brunel">ChartPrB</a></b> (<a href="#" title="Les chartes de Brunel étant un recueil de chartes, le lien suivant pointe les métadonnées du recueil, pour accéder aux contenus des chartes vous pouvez passer par le menu Oeuvre puis utiliser la fonction rechercher en tapant ChartPrB">*</a>), ou à défaut dans le <em><a href="http://www.rzuser.uni-heidelberg.de/~dc4/neu/pbibl.php">Dictionnaire
                onomasiologique de l’Ancien Gascon (DAG)</a></em>, comme pour l’édition des Coutumes de Corneillan par Samaran (<b><a  href="{{ path('oeuvre_show', {'fichier':'CoutCornS' }) }}" title="Texte de CoutCornS">CoutCornS</a></b>),
        et à défaut, au <em><a href="http://mllidev.umbc.edu/gascon/French/index.html">Corpus Linguistique de l’ancien Gascon</a></em> de Thomas Field,
        comme pour l’édition du Censier du Prieuré de Sarrancolin par Marsan (<b><a  href="{{ path('oeuvre_show', {'fichier':'CensSarrM' }) }}" title="Texte de CensSarrM">CensSarrM</a></b>). Nous avons toutefois pu nous écarter de façon exceptionnelle
        de propositions qui nous semblaient inadéquates, telles que, dans le DAG, ForOlC pour la Charte de peuplement de Herrère par Cheronnet (1978),
        où nous avons créé <b><a  href="{{ path('oeuvre_show', {'fichier':'RecensHerrC' }) }}" title="Texte de RecensHerrC">RecensHerrC</a></b> pour l’édition qu'en donne le même auteur en 1996.</p>
    <p>Nous utilisons les normes de ces répertoires de référence pour prendre en compte de nouvelles ou autres éditions : ainsi, <b><a  href="{{ path('oeuvre_show', {'fichier':'ChartOrthL' }) }}" title="Texte de ChartOrthL">ChartOrthL</a></b> désigne
        l’édition de la Charte des boucheries d’Orthez par J. Lafitte.</p>
    <p>Nous avons par contre dû, pour des raisons informatiques
        (<a href="#" title="L'aquisition des fichiers sources xml par le moteur PHP du site impose que les noms des fichiers soient écrits sans accent. Cela n'empêche évidemment pas de conserver les accents dans les titres ou où que se soit dans l'oeuvre.">*</a>), renoncer dans ces sigles aux accents, ainsi qu’au style exposant pour les chiffres.</p>
    <h3>L’établissement du texte</h3>
    <p>Sauf exceptions, le texte proposé n’est pas directement établi à partir des sources manuscrites, néanmoins indiquées dans
        les en-têtes des œuvres, mais est repris des éditions de référence. Certains textes sont tirés d’éditions critiques établies
        d’après plusieurs sources manuscrites que nous ne signalons pas, le lecteur devant se reporter alors aux éditions indiquées.
        On ne perdra pas de vue que le texte de ces sources secondaires n’est pas repris tel quel : </p>
    <ul>
        <li>les critères d’édition électronique retenus ont amené à ignorer les signes éventuels d’agglutination, déglutination, résolution d’abréviations ;</li>
        <li>nous avons été amenés à généraliser la distinction des lettres ramistes généralement adoptée par les éditeurs ; </li>
        <li>le texte proposé intègre les amendements divers, parfois conjecturaux, proposés par les éditeurs, sans que rien ne signale leur intervention ;</li>
        <li>nous avons décidé d’ignorer systématiquement les géminations liées à une agglutination (<em>della</em> > <em>de la</em>, <em>assaber</em> > <em>a saber</em>),
            P. Ricketts procédant déjà généralement à cette réduction, quand ce ne sont pas les éditeurs eux-mêmes qui en sont responsables ; l’opération inverse qui eût
            été de rétablir partout les géminations manquantes était en effet pour nous une opération impraticable, nécessitant de revenir aux manuscrits ;</li>
        <li>des erreurs de transcription ou de numérisation qui ont échappé à notre attention peuvent subsister dans certains de ces textes. </li>
    </ul>
    <p>Les séparateurs omis délibérément ou non (apostrophe, signe d’enclise) sont introduits ou/et normalisés, de même que la présentation
        des formes asyllabiques des articles. L’usage des majuscules a été mis en conformité avec l’usage moderne. La ponctuation a pu subir
        quelques modifications. Par ailleurs, des passages monolingues en une langue autre que l’occitan ont pu être ignorés.
        Enfin, afin d’alléger les opérations d’encodage, les mots coupés en fin de ligne ont été systématiquement reportés sur la ligne
        suivante, si ce n’est quelques possibles erreurs. Même en dehors de ces cas, la numérotation des lignes peut, pour diverses raisons,
        ne pas correspondre exactement à la disposition de l’original, notamment dans la disposition en colonnes. On se reportera par
        conséquent à l’édition de base pour toute utilisation plus précise et contrôlée de la ressource considérée. Précisons que diverses
        abréviations ont été résolues, même lorsqu’elles se prêtaient à d’autres résolutions (<em>M.</em> pour <em>Maistre</em>,
        <em>Mestre</em> etc.) : on sera donc prudent dans l’utilisation des données.</p>
    <h3>La recherche</h3>
    <p>Pour effectuer des recherches sur les données du TMAO, il est nécessaire de se connecter (voir bandeau, à droite), ce qui ne peut se faire que si l’on est membre de l’<a href="http://www.aieo.org/">Association Internationale d’Études Occitanes</a>.</p>
    <p>Nous n’avons pas lemmatisé les formes : on en tiendra par conséquent compte dans la recherche en pensant à l’extrême diversité des
        graphies, ce qui n’est pas toujours un exercice aisé. Des jokers pourront simplifier certaines requêtes. Nous n'avons pas eu le temps d'intégrer la liste des formes disponibles, ce que la COM a l’avantage d’offrir.</p>
    <p>La recherche peut porter sur les textes (« contenu ») ou sur les en-têtes (« méta-données »).</p>
    <p>La recherche sur les textes peut définir une plage temporelle, avec un début (pas avant 1020) et une fin (pas après 1550). Pour cela, une date-cible a été attribuée à chaque texte, correspondant plutôt à la copie qu’au texte originel dans le cas des copies : il s’agit d’une date exacte, approximative ou médiane dans le cas où une période quelconque est indiquée (arrondie à l’unité supérieure lorsque la différence numérique entre date finale et date initiale est impaire) : pour une indication « Second quart du XIV<sup>e</sup> siècle », la date ciblée sera 1338. Pour tout texte copié au-delà de 1550, on trouvera associé, par convention, la date-cible de 1550.</p>
    <p>Les métadonnées contiennent, dans l’ordre, la référence bibliographique d’où le texte informatique a été tiré, la référence de la source (en général manuscrite, parfois un fac-similé, exceptionnellement un incunable), une indication sur le dialecte employé, la datation et la localisation proposées par les éditeurs.</p>
    <p>On sera attentif à ce que le dialecte indiqué est celui de la région où la copie a été effectuée selon la localisation indiquée : il se peut par conséquent qu’une étude linguistique démontre une appartenance dialectale autre que celle indiquée, qui peut du reste elle-même être sujette à discussion. De telles études, à tout le moins succinctes, ne sont au demeurant pas rares, mais le temps imparti pour mettre au point le site du TMAO ne nous a pas permis de les prendre en compte.</p>
    <h3>Les mélodies du chansonnier R</h3>
    <p>Le TMAO propose en outre en exclusivité l’édition informatique des mélodies conservées dans le <a href="{{ url('accueilChansonnierR') }}" title="Le chansonnier R, manuscrit Paris, B.N.F., fr. 22543 (anc. La Vallière 14), également connu sous le nom de « Chansonnier d’Urfé » ou « de La Vallière »">chansonnier d’Urfé</a> (siglé R), avec des liens vers la production du manuscrit conservé à la BnF, fonds fr. 22543 (anc. La Vallière 14). La <a href="{{ url('listepartitions') }}" title="Partitions musicales du chansonnier R, écoute midi">mélodie</a> peut être jouée directement grâce à un dispositif approprié. </p>
    <br><br>
    <br><br><br>
{% endblock %}