{% extends 'tmao/basetmao.html.twig' %}
{% block title %}TMAO : Liste des documents indexés{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src={{ asset('assets/vendor/elasticsearch/elasticsearch.js') }}></script>
{% endblock %}
{% block bandeauheader %}
    <h1>Liste des documents indexés<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("tmao/navigationtmao.html.twig", {index_menu:3}) }}
{% endblock %}
{% block contenu %}
    <script>
        var client = new elasticsearch.Client({
            host: 'localhost:9200'
        });
    </script>

    <div id="info"></div>
    <div ><p id="reponse"></p></div>
    <div><p id="reponse2"></p></div>

    <script>

        $(function() {
            function startsWith(str, word) {
                return str.lastIndexOf(word, 0) === 0;
            }

            client.search({
                index: 'tmao',
                type: 'oeuvre',

                body: {
                    size:1000,
                    //sort: [{ "_uid": { "order": "asc" } }], //fonctionne mais le classement obtenu n'est pas joli 1 10 100 101 102 103
                    query: {
                        match_all: {}
                    }
                }
            }).then(function (resp) {
                var hits = resp.hits.hits;
                //console.log('Nombre de résultats: ' + resp.hits.total);
                nbTotalReponse = resp.hits.total;
                resp.hits.hits.forEach(function (hit) {
                    var hitCurrent = hit._id;
                    var url;
                   /* if (hitCurrent.startsWith('ChartPrB')) {
                        url = Routing.generate('charteid', {'id': hit._id}); //les chartes ont la particularité d'avoir une table des matières elles se trouvent sous ChartesDeBrunel
                    } else {
                        url = Routing.generate('oeuvre_show', {'fichier': hit._id}); // les autres oeuvres se trouvent directement sous la racine /
                    }*/
                    url = Routing.generate('oeuvrecomposite', {'id': hit._id});
                    //console.log(hit._id);//+" "+hit._id
                    //console.log(url);
                    //$("#reponse").append("<p>"+hit._id+"</p>");//fonctionne
                    $("#reponse").append('<a href="'+url+'">'+hit._id+'</a> ');
                });
            })

        });


    </script>


    <p>Retourner au <a href="{{ url('accueiltmao') }}">Trésor Manuscrit Ancien Occitan</a> (TMAO).</p>
{% endblock %}