{% extends 'tmao/basetmao.html.twig' %}
{% block meta %}
<meta name="description" content="Liste des oeuvres disponible dans le trésor manuscrit de l'ancien occitan.  " />
<meta name="keywords" content="oeuvres, trésor manuscrit, ancien occitan, chansonnier R, chartes Brunel" />
{% endblock %}
{% block title %}Liste des oeuvres du Trésor Manuscrit de l'Ancien Occitan{% endblock %}
{% block menunavigation  %}
    {{  include("tmao/navigationtmao.html.twig", {index_menu:3}) }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}">
{% endblock %}
{% block contenu %}

    <table id="tableDesMatieres" class="table">
        <thead>
        <tr>
            <th>Titres ({{ tdm|length }})</th>
            {% set nbsouspartie = 0 %}
            {% for i in 1..tdm|length %}
                {% set nbsouspartie = nbsouspartie + tdm[i-1]['nbsousparties'] %}
            {% endfor %}
            <th>Textes ({{ nbsouspartie + 1 }})</th>
            <th>Informations</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="{{ url('accueilChansonnierR') }}" title="Le chansonnier R, manuscrit Paris, B.N.F., fr. 22543 (anc. La Vallière 14), également connu sous le nom de « Chansonnier d’Urfé » ou « de La Vallière »">Le Chansonnier R</a></td>
            <td><a href="{{ url('listefolios') }}" title="Accès aux folios du chansonnier R">Les transcriptions </a> - <a href="{{ url('listepartitions') }}" title="Accès aux partitions du chansonnier R"> Les partitions</a> (en écoute et en téléchargement PDF) </td>
            <td><a href="{{ url('teiHeaderChansonnierR') }}" title="Header du chansonnier R">Références</a></td>
        </tr>
        {% for i in 1..tdm|length %}
            <tr>
                <td>
                     {{ tdm[i-1]['nom'] }}
                </td>
                {% if tdm[i-1]['nbsousparties'] != 1 %}
                    <td><div class="scrollable">
                        {% for j in 0..taboeuvrescomposites[i-1]|length-1 %}
                            <a  href="{{ path('oeuvrecomposite', {'id':taboeuvrescomposites[i-1][j]}) }}" title="Texte de {{ taboeuvrescomposites[i-1][j] }}">{{ taboeuvrescomposites[i-1][j] }}</a>
                       {% endfor %}
                        </div>
                    </td>
                    {% else %}
                <td><a  href="{{ path('oeuvre_show', {'fichier':tdm[i-1]['id']}) }}" title="Texte de {{ tdm[i-1]['id'] }}">{{ tdm[i-1]['id'] }}</a></td>
                {% endif %}
                <td>
                    <a  href="{{ path('oeuvre_header_show', {'fichier':tdm[i-1]['id']}) }}" title="Références de l'oeuvre (TEI Header)">Références</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>

    <p>Retourner au <a href="{{ url('accueiltmao') }}">Trésor Manuscrit Ancien Occitan</a>.</p>

<!-- 'fichier':tdm[i-1]['id'], oeuvre_show-->
    <script>

        $(document).ready( function () {

            $('#tableDesMatieres').DataTable(
                    {
                        stateSave: true,
                        language: {
                            url: "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/French.json"
                        },
                        columnDefs: [
                            { width: '30%', targets: 0 },
                            { width: '12%', targets: 2 }
                        ]
                    }
            )
        }   );

    </script>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src={{ asset('assets/vendor/datatables.net/js/jquery.dataTables.min.js') }}></script>
    <script type="text/javascript" src={{ asset('assets/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}></script>
{% endblock %}