{% extends 'tmao/basetmao.html.twig' %}
{% block meta %}
    <meta name="description" content="Mentions légales du site trésor manuscrit de l'ancien occitan" />
    <meta name="keywords" content="editeur, CLLE, responsabilité, hébergement, adresse, HUMA-NUM" />
{% endblock %}
{% block title %}Mentions Légales du TMAO{% endblock %}
{% block menunavigation  %}
    {{  include("tmao/navigationtmao.html.twig", {index_menu:0}) }}
{% endblock %}
{% block contenu %}

    <h2>
        Mentions Légales
    </h2>
    <p>
        Ce site web est édité conjointement par l'Université Jean Jaurès (<a href="http://www.univ-tlse2.fr">http://www.univ-tlse2.fr</a>) et le CNRS (<a href="http://www.cnrs.fr/">http://www.cnrs.fr</a>).
    </p>
        <b>Editeur:</b>
        <p>
            Laboratoire Cognition, Langues, Langage, Ergonomie (CLLE) UMR 5263, équipe ERSS, Axe VaSt.
        </p>
        <table style="width:100%" class="table table-bordered table-striped tablecondensed">
            <tbody>
            <tr>
                <th rowspan="8">Mention de responsabilité :</th>
                <td>Responsable du projet d'édition : Dominique Billy</td>
            </tr>
            <tr><td>Responsable informatique, modélisation XML, transformation Xslt, développement web, moteur de recherche : Yaël Champclaux</td></tr>
            <tr><td>Préparation de l'encodage et transcription des Vidas : Maguelone Sauzet
            </td></tr><tr><td>Transcription R1-R5: Alessio Collura
            </td></tr><tr><td>Transcription R6 et R13: Beatrice Solla
            </td></tr><tr><td>Transcription R7-R12 et R14: Fabio Barberini
            </td></tr><tr><td>Etude linguistique: Camilla Talfani</td></tr>
            <tr><td>Transcription et édition des mélodies: Stefano Milonia</td></tr>
            </tbody></table>
        <b>Conception du site :</b>
        <p>
            Yaël Champclaux
        </p>
        <b>Hébergement du site :</b>
        <p>
           Le site est hébergé par la très grande infrastructure de recherche (TGIR) HUMA-NUM (<a href="http://www.huma-num.fr">http://www.huma-num.fr</a>).
        </p>
        <b>Images du site :</b>
        <p>
            Les images des pages du chansonnier R sont extraite du site Gallica : (<a href="http://gallica.bnf.fr/ark:/12148/btv1b60004306">http://gallica.bnf.fr/ark:/12148/btv1b60004306</a>) où elles sont proposées avec une qualité (dimension et résolution) très supérieure.
        </p>
        <b>Coordonnées postales :</b>
        <p>
            Laboratoire CLLE - UMR5263<br>
            Maison de la Recherche<br>
            Université Toulouse Jean Jaurès<br>
            5 Allée Antonio Machado<br>
            31058 Toulouse cedex 9<br>
        </p>
<br><br><br>

{% endblock %}