<div id="menunavigation"  class="row">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url('accueiltmao') }}" title="Accueil TMAO">TMAO</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav  text-md-center justify-content-md-between">
                    <li {{ index_menu == 1 ? 'class="active"' }}><a href="{{ url('accueiltmao') }}" title="Accueil du Trésor manuscrit de l\'ancien occitan">Accueil</a></li>
                    <li {{ index_menu == 3 ? 'class="active"' }}><a href="{{ url('listeoeuvres') }}" title="Accès aux oeuvres du Trésor manuscrit de l\'ancien occitan">Oeuvres</a></li>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                       <li {{ index_menu == 5 ? 'class="active"' }}><a href="{{ url('searchelastic') }}" title="Outil de recherche textuelle sur les oeuvres du TMAO">Recherche</a></li>
                    {% if app.user.username == "yael.champclaux" or app.user.username == "dominique.billy" %}<li {{ index_menu == 4 ? 'class="active"' }}><a href="{{ url('adminelastic') }}" title="Administration de l'index des documents (privé)">Administration</a></li>{% endif %}
                    {% endif %}
                    <li {{ index_menu == 2 ? 'class="active"' }}><a href="{{ url('creditstmao') }}" title="Les crédits du projet TMAO">Crédits</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                   {% if is_granted('IS_AUTHENTICATED_FULLY') %}<li {{ index_menu == 7 ? 'class="active"' }}><a href="{{ url('fos_user_security_logout') }}" style="font-size: smaller"> Se déconnecter </a></li>{% else %}<li><a href="{{ url('fos_user_security_login') }}" style="font-size: smaller"> Se connecter </a>{% endif %}</li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}<li {{ index_menu == 8 ? 'class="active"' }}><a href="{{ url('fos_user_profile_show') }}" style="font-size: smaller"><span class="glyphicon glyphicon-user"></span></a></li>{% endif %}
                </ul>

            </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </nav>
</div>

<!--<li {{ index_menu == 6 ? 'class="active"' }}><a href="{{ url('jsadmin') }}" title="Administration de l'index des documents (ne fonctionne qu'en dev)">Admin js (dev)</a></li>
<li {{ index_menu == 6 ? 'class="active"' }}><a href="{{ url('jsadmin') }}" title="Administration de l'index des documents (ne fonctionne qu'en dev)">Admin js (dev)</a></li>
<li {{ index_menu == 5 ? 'class="active"' }}><a href="{{ url('elastic') }}" title="Accès au moteur de recherche textuel  (ne fonctionne qu'en dev)">Recherche (dev)</a></li>
<li {{ index_menu == 4 ? 'class="active"' }} class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Les oeuvres  <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li> <a href="{{ url('accueilChansonnierR') }}" title="Le chansonnier R, manuscrit Paris, B.N.F., fr. 22543 (anc. La Vallière 14), également connu sous le nom de « Chansonnier d’Urfé » ou « de La Vallière »">Chansonnier R</a></li>
                            <li><a href="{{ url('accueilChartesBrunel') }}" title="Les chartes de Brunel">Chartes de Brunel</a></li>
                            <li> <a href="{{ url('oeuvre_show', {'fichier':"AffMoulVicD"}) }}" title="Affièvement d’un moulin à Vic">Affièvement d’un moulin à Vic</a></li>
                            <li> <a href="{{ url('oeuvre_show', {'fichier':"vidas"}) }}" title="Vidas">Vidas</a></li>
                            <li> <a href="{{ url('oeuvre_show', {'fichier':"MeyerTrVet"}) }}" title="MeyerTrVét">MeyerTrVet</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">à venir</li>
                            <li><a href="{{ url('elastic') }}" title="Test Index">Recherche</a></li>
                            <li><a href="{{ url('listedocumentsindexes') }}" title="Test Index">Liste des documents indexés</a></li>
                            <li><a href="{{ url('adminelastic') }}" title="Test Index">Administration</a></li>
                           </ul>
                    </li>
-->