{% extends 'tmao/basetmao.html.twig' %}
{% block title %}{{ oeuvre }}{% endblock %}
{% block bandeauheader %}
    <h1>{{ oeuvre }}<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("tmao/navigationtmao.html.twig", {index_menu:3}) }}
{% endblock %}
{% block contenu %}


    {{ sortie | raw }}

    <br>
    {% set route_courante = app.request.schemeAndHttpHost ~ app.request.requestUri %}
    {% if '_show_header' in  route_courante%}
    {% else %}
        <p>Accéder aux références : <a href="{{ route_courante }}_header" title="Informations telles que l'auteur, le titre, les mentions de titre, de publications, ...">Informations</a></p>
    {% endif %}


    <p>Retourner au <a href="{{ url('accueiltmao') }}">Trésor Manuscrit Ancien Occitan</a> (TMAO).</p>
    <br>  <br>  <br>  <br> <br>
{% endblock %}