{% extends 'tmao/basetmao.html.twig' %}
{% block title %}Recherche textuelle dans les oeuvres du TMAO{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
{% block bandeauheader %}
    <h1>TMAO Recherche<a href="http://www.univ-toulouse.fr/"><img src="{{ asset('assets/images/_imagesutiles/Universite_federale32.jpg') }}" alt="Logo Université Fédérale Toulouse Midi-Pyrénées" title="Université Fédérale Toulouse Midi-Pyrénées" style="margin-left: 30px"/></a><a href="http://www.cnrs.fr/"><img src="{{ asset('assets/images/_imagesutiles/CNRS32.jpg') }}" alt="Logo CNRS" title="Centre National de la Recherche Scientifique (CNRS)"/></a></h1>
{% endblock %}
{% block menunavigation  %}
    {{  include("tmao/navigationtmao.html.twig", {index_menu:5}) }}
{% endblock %}
{% block contenu %}
<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="input-group">
            <input type="text" id="txtSearch" class="form-control" placeholder="Entrez du texte...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" onClick="doSearch();">Recherche</button>
          </span>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="radio-inline">
            <label><input type="radio" name="optradio" id="choicecontenu" checked>Contenu</label>
        </div>
        <div class="radio-inline">
            <label><input type="radio" name="optradio" id="choicemetadonnees">Méta-données</label>
        </div>
    </div>
    <div class="col-lg-2 col-md-2">
        <div class="input-group">
            <input type="text" id="dateDebut" class="form-control" placeholder="Début, pas avant 1020">
        </div>
    </div>
    <div class="col-lg-2 col-md-2">
        <div class="input-group">
            <input type="text" id="dateFin" class="form-control" placeholder="Fin, pas après 1550">
        </div>
    </div>
    <div class="col-lg-1 col-md-1">
        <a href="#" onclick="showInfo();">
            <span class="glyphicon glyphicon-question-sign"></span>
        </a>
    </div>
</div>
<div id="reponsecontainer" style="overflow: auto;max-height: 72vh;margin-top: 20px">
    <div id="reponse" >
        {% if reponse != null %}
            {{ reponse | raw }}
        {% endif %}
    </div>
</div>

    <script>

        function doSearch(){
            var cible;
            if (document.getElementById("choicecontenu").checked) {
                //alert('off Header !!!');
                cible = 'content';
            } else {
                //alert('on Header !!!');
                cible = 'header';
            }
            var debut =$("#dateDebut").val();
            var fin=$("#dateFin").val();
            if (!debut) {
                debut = '1020';//erreur si nombre !!!
            }
            if (!fin) {
                fin = 1550;
            }
            if (debut > fin) {
                alert("Attention, la date de début ("+debut+") ne peut pas être supérieure à la date de fin ("+fin+")");
            }
           // $("#test").html("<p>query:"+$("#txtSearch").val()+" debut: "+debut+" fin: "+fin+"</p>");
            var query = $("#txtSearch").val();
            if (query == "") { alert("Veuillez entrer du texte dans la barre de recherche "); } else {
                location.href = Routing.generate('queryelastic', { query: query, debut: debut, fin: fin, cible:cible });//, borneInf: debut, borneSup: fin
            }
        }

        function nettoyerDivReponse() {
            $('#reponse').html("");
        }

        function showInfo(){
            $('#reponse').html("");
            var image = document.createElement("IMG");
            image.setAttribute("src", "{{ asset('assets/images/_imagesutiles/example_oeuvre.png') }}");
            image.setAttribute("alt", "exemple d'oeuvre avec contexte (auteur, date, etc) et contenu");

            var txtInfo ="<p>Le champ de recherche permet de taper un ou plusieurs mots avec éventuellement l'usage des caractères réservés suivants : <b>+ - = && || > < ! ( ) { } [ ] ^ \" ~ * ? :  /</b>. Ils sont à utiliser avec attention. Il est possible d'écrire des requêtes qui génèrent un nombre gigantesque de réponses (Par exemple une requête composé par de nombreux mots utilisant *). Cela a pour effet immédiat de ralentir le système et d'allonger le temps de réponse. Il peut arriver qu’un mauvais usage d’un ou plusieurs caractères réservés dans une requête génère une erreur d’interrogation qui vous mènera à une page d’erreur, vous pourrez alors faire <em>précédent</em> dans votre navigateur puis reformuler votre requête.</p>"+
            "<ul>Exemples de requêtes qu'il est possible d'écrire dans le champs de recherche avec la description de la recherche obtenue : " +
            "<li><b>luna</b> : retourne toutes les occurrences du mot <em>luna</em> dans tous les documents concernés. Le système ne tient pas compte de la casse : le nom propre <em>Luna</em> (<em>@Luna</em>) est également retourné. (Type de recheche : mot seul)</li>" +
            "<li><b>canta~1</b> : retourne toutes les occurrences dans tous les documents contenant le mot <em>canta</em> ou ses variantes à une distance de 1 lettre de divergence par exemple <em>conta</em> ou <em>carta</em>. Le tilde ~ permet d'activer la recherche floue, l'entier qui suit détermine la distance de variation. (Type de recherche : recherche floue, mot seul accompagné de tilde éventuellement suivi d'un entier précisant le nombre de caractères pouvant varier)</li>"+
            "<li><b>lun*</b> : retourne toutes les occurrences dans tous les documents concernés, des mots qui commencent par <em>lun</em> éventuellement suivis de n'importe quelle suite de lettres : lunacio, lunae, lunar lunategue, Luna, @Luna etc. On peut utiliser * en début ou en milieu de mot. (Type de recherche : mot seul contenant le caractère *)</li>" +
            "<li><b>lu?a</b> : retourne toutes les occurrences dans tous les documents concernés, des mots qui commencent par <em>lu</em> suivis de n'importe quelle lettre suivi de la lettre <em>a</em>. (Type de recherche : mot seul contenant le caractère ?).</li>" +
            "<li><b>luna prima</b> : retourne toutes les occurrences des mots <em>luna</em> et <em>prima</em> dans tous les documents concernés contenant <b>soit</b> <em>luna</em>, <b>soit</b> <em>prima</em>. Le système favorise les documents ayant à la fois <em>luna</em> et <em>prima</em>. (Type de recherche : plusieurs mots séparés par espace)</li>"+
            "<li><b>\"luna prima\"</b> : retourne toutes les occurrences, dans tous les documents concernés, de la chaîne de caractère exacte <em>luna prima</em>. Les guillemets permettent la recherche exacte. (Type de recherche : recherche exacte, plusieurs mots entourés de guillemets)</li>"+
            "<li><b>\"canta amor\"~3</b> : retourne toutes les occurrences dans tous les documents contenant le mot <em>canta</em> et <em>amor</em> éventuellement distants de 3 mots. Les guillemets suivis par tilde ~ et un entier permettent d'activer la recherche par proximité, l'entier qui suit détermine la distance en nombre de mots. (Type de recherche : recherche par proximité, groupe de mots entourés de guillemets accompagnés de tilde suivi d'un entier précisant le nombre de mots pouvant séparer les mots du groupe initial)</li>"+
            "<li><b> de novella +luna -prima</b> : ici <em>de</em> et <em>novella</em> sont optionnels, <em>luna</em> doit être présent et <em>prima</em> ne doit pas être présent dans l’ensemble des documents retournés. (Type de recherche : plusieurs mots avec usage des opérateurs + et -)</li>"+
            "<li><b>(canta OR luna) AND NOT amor</b> équivalent  à <b>(canta || luna) && !amor</b>: retourne toutes les occurrences dans tous les documents ne contenant pas le mot <em>amor</em> et contenant soit <em>luna</em>, soit <em>canta</em>. Les parenthèses permettent de regrouper des mots pour faire des sous-requêtes. On peut utiliser les opérateurs booléens AND (&&), OR (||), NOT (!) pour relier les sous-requêtes. (Type de recherche : recherche multi-terme utilisant les parenthèses et les opérateurs booléens)</li>"+
             //"<li><b>/c?n[aoe]s{1.3}e*/</b> : retourne les documents contenant un mot qui commence par <em>c</em> suivi d'un caractère quelconque, suivi d'un <em>n</em> suivi d'un <em>a</em> ou <em>o</em> ou <em>e</em> suivi d'un à trois <em>s</em> suivi d'un <em>e</em> suivi de n'importe quelle suite de caractères. Les slashs / entourent l'expression régulière. (Type de recherche : recherche par expression régulière, expression régulière entourée de /)</li>"+
            "<li>Le caractère slash <b>/</b> est pour le moment interdit car il est utilisé dans l'adressage.</li>"+
                "</ul><p> Cliquer sur le bouton <em>Recherche</em> lance la recherche. Si <em>contenu</em> est sélectionné (par défaut)" +
                " la recherche porte sur le corps du texte. Si <em>Méta-données</em> est sélectionné la recherche porte alors sur les méta-données.</p>" +
                "<p>Les oeuvres couvrent une période allant de l'an 1020 à l'an 1550. Il est possible de moduler cette période à l'aide des champs <em>Début</em> et <em>Fin</em> " +
                "de manière à réduire le nombre de réponses retournées.</p>" +
                "<p>Nos oeuvres sont composées d'un texte (le contenu) et d'informations additionnelles (les méta-données). Voici un exemple :</p><br>";

            $('#reponse').html(txtInfo);
            $('#reponse').append(image);
            var myVar = "nettoyerDivReponse();";
            var myVAr2 = "#";
            $("#reponse").append('<p><a href="'+myVAr2+'" onclick="'+myVar+'">'+'Fermer la fenêtre d\'explication.</a><p><br><br>');
        }

    </script>
{% endblock %}
